#mapa {
    position: relative; /* Dodaje kontekst pozycjonowania */
    aspect-ratio: 1792 / 599;
    margin-top: 2.5rem;
}
#mapa img {
    width: 100%;
    display: block;
}
#mapa svg {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    pointer-events: auto;
}
.lokal {
    cursor: pointer;
    opacity: 0;
    transition: fill-opacity 0.3s;
}
.lokal.dostępny:hover {
    fill: rgba(0, 255, 0, 0.5); /* Zielony dla dostępnych */
    opacity: .8;
}
.lokal.rezerwacja:hover {
    fill: rgba(255, 255, 0, 0.5); /* Żółty dla rezerwacji */
    opacity: .8;
}
.lokal.sprzedane:hover {
    fill: rgba(255, 0, 0, 0.5); /* Czerwony dla sprzedanych */
    opacity: .8;
}
.lokal:hover {
    /* stroke: #000;
    stroke-width: 2px; */
    fill-opacity: 0.7;
}

.lokal-info-box {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 999;
    max-width: 300px;
}

.tooltip {
    position: absolute; /* Kluczowe dla dynamicznej pozycji */
    display: none; /* Ukrycie domyślne */
    background: #2b2b2b; /* Jasnoszare tło */
    color: #a9a9a9; /* Ciemnoszary tekst */
    border: 1px solid #3a3a3b; /* Obramowanie w średnim szarym odcieniu */
    padding: 5px;
    font-size: 14px;
    pointer-events: none; /* Zapobiega kolizjom z myszą */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Lekki cień */
    border-radius: 4px; /* Zaokrąglone rogi */
    z-index: 1500; /* Wyższy indeks, aby tooltip był widoczny nad innymi elementami */
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.custom-list {
    list-style-type: none; /* Usunięcie domyślnych kropek */
    padding-left: 0;
    margin: 0 0 20px 0;
}

.custom-list-item {
    font-size: 16px;
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
}

.custom-list-item::before {
    content: "•"; /* Custom bullet */
    position: absolute;
    left: 0;
    top: 0;
    color: #007bff; /* Kolor punktora */
    font-size: 18px;
}

.nested-list {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 5px;
}

.nested-list-item {
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}

.nested-list-item::before {
    content: "–"; /* Inny punktor dla podlist */
    position: absolute;
    left: 0;
    top: 0;
    color: #555;
    font-weight: bold;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%; /* 16:9 ratio */
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 2rem;
}
  
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 2rem;
}

#Answering {
    transition: opacity 0.3s ease;
}

#Answering.hidden {
    opacity: 0;
}