{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
      <div class="container">
        <h3 class="breadcrumbs-custom-title">Dni Otwarte</h3>
        <div class="breadcrumbs-custom-decor"></div>
      </div>
      <div class="box-transform" style="background-image: url(static/images/bg-project.jpg);"></div>
    </div>
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/"><i class="bi bi-house" style="font-size: 24px;"></i></a></li>
            <li class="active">Dni Otwarte</li>
        </ul>
    </div>
</section>
  <!-- Project Page-->
<section class="section section-lg bg-default text-md-start">
    <div class="container">
        <div class="row row-60 flex-lg-row-reverse">
            <div class="col-lg-6 col-xl-7">

                <div class="table-custom-responsive">
                    <table class="table-custom table-custom-primary table-project">
                        <tbody>
                            <tr>
                                <td><span class="icon mdi mdi-calendar"></span></td>
                                <td><span>10 grudnia 2025</span> (środa)</td>
                            </tr>
                            <tr>
                                <td><span class="icon mdi mdi-calendar"></span></td>
                                <td><span>24 grudnia 2025</span> (środa)</td>
                            </tr>
                            <tr>
                                <td><span class="icon mdi mdi-calendar"></span></td>
                                <td><span>15 stycznia 2026</span> (czwartek)</td>
                            </tr>
                            <tr>
                                <td><span class="icon mdi mdi-calendar"></span></td>
                                <td><span>30 stycznia 2026</span> (piątek)</td>
                            </tr>
                            <tr>
                                <td><span class="icon mdi mdi-calendar"></span></td>
                                <td><span>12 lutego 2026</span> (czwartek)</td>
                            </tr>
                            <tr>
                                <td><span class="icon mdi mdi-calendar"></span></td>
                                <td><span>19 lutego 2026</span> (czwartek)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="project-page">
                    <h4>Dni Otwarte – Wiśniowa House</h4>
                    <p>
                        Zapraszamy serdecznie na wyjątkowe Dni Otwarte osiedla <strong>Wiśniowa House</strong> – inwestycji, która łączy nowoczesną architekturę z unikalnym położeniem w otulinie Puszczy Kampinoskiej, zaledwie 15 minut od centrum Warszawy.
                    </p>
                    <p>
                        To doskonała okazja, aby na żywo zobaczyć nasze nowoczesne domy jednorodzinne, spacerować po terenie osiedla, poznać standardy wykończenia i porozmawiać z naszymi ekspertami o wszystkich szczegółach inwestycji.
                    </p>
                    <p>
                        W trakcie Dni Otwartych zaprezentujemy m.in. dostępne układy mieszkań, szczegóły technologiczne budynków oraz odpowiemy na wszystkie pytania dotyczące zakupu domu lub mieszkania.
                    </p>
                    <p>
                        Serdecznie zapraszamy wszystkich zainteresowanych – rodziny, pary, inwestorów oraz osoby poszukujące swojego miejsca w spokojnej i zielonej okolicy!
                    </p>
                    <a class="button button-lg button-primary button-winona" href="/kontakt">Umów się na spotkanie</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}