{% extends 'base.html' %}
{% block content %}
        <div class="swiper-container swiper-slider swiper-slider-7" data-loop="true" data-autoplay="5000" data-simulate-touch="false" data-add-slides="1">
          <div class="swiper-wrapper text-sm-start">
            <div class="swiper-slide" data-slide-bg="static/images/engineering/slide-1-1697x605.jpg">
              <div class="swiper-slide-caption section-md">
                <div class="swiper-box">
                  <h6 class="oh swiper-subtitle"><span class="d-inline-block" data-caption-animate="slideInDown" data-caption-delay="500">Wiśniowa House <br>– Twój wybór</span></h6>
                  <h3 class="swiper-title oh"><span class="d-block" data-caption-animate="slideInLeft" data-caption-delay="200">Blisko </span><span class="d-block" data-caption-animate="slideInRight" data-caption-delay="200">natury</span></h3>
                  <h6 class="swiper-time" data-caption-animate="fadeInLeft" data-caption-delay="500">
                    Spokój i harmonia
                  </h6><a class="button button-lg button-icon button-icon-right button-gray-3" data-caption-animate="fadeInUp" data-caption-delay="500" href="/lokale"><span class="icon mdi mdi-chevron-right"></span>Poznaj lokale</a>
                </div>
                <div class="swiper-content-bg-1"></div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="static/images/engineering/slide-2-1697x605.jpg">
              <div class="swiper-slide-caption section-md">
                <div class="swiper-box">
                  <h6 class="oh swiper-subtitle"><span class="d-inline-block" data-caption-animate="slideInLeft" data-caption-delay="500">Idealne miejsce <br>do życia</span></h6>
                  <h3 class="swiper-title"><span class="d-block" data-caption-animate="fadeInRight" data-caption-delay="200">Komfort </span><span class="d-block" data-caption-animate="fadeInRight" data-caption-delay="300">codzienności</span></h3>
                  <h6 class="swiper-time" data-caption-animate="fadeInUp" data-caption-delay="500">
                    Przestrzeń i styl
                  </h6>
                  <div class="oh button-wrap"><a class="button button-lg button-icon button-icon-right button-gray-3" data-caption-animate="slideInLeft" data-caption-delay="200" href="/o-inwestycji"><span class="icon mdi mdi-chevron-right"></span>Zobacz szczegóły</a></div>
                </div>
                <div class="swiper-content-bg-2"></div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="static/images/engineering/slide-3-1697x605.jpg">
              <div class="swiper-slide-caption section-md">
                <div class="swiper-box">
                  <h6 class="oh swiper-subtitle"><span class="d-inline-block" data-caption-animate="slideInUp" data-caption-delay="500">Styl <br>i funkcjonalność</span></h6>
                  <h3 class="swiper-title oh d-inline-block"><span class="d-block" data-caption-animate="slideInDown" data-caption-delay="200">Piękno </span><span class="d-block" data-caption-animate="slideInUp" data-caption-delay="200">wnętrza</span></h3>
                  <h6 class="swiper-time" data-caption-animate="fadeInLeft" data-caption-delay="500">
                    Twoja wygoda
                  </h6>
                  <div class="oh button-wrap"><a class="button button-lg button-icon button-icon-right button-gray-3" data-caption-animate="slideInDown" data-caption-delay="500" href="/kontakt"><span class="icon mdi mdi-chevron-right"></span>Zapytaj o lokal</a></div>
                </div>
                <div class="swiper-content-bg-3"></div>
              </div>
            </div>
          </div>
          <!-- Swiper Navigation-->
          <div class="swiper-navigation__module">
            <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index"></span><span class="swiper-pagination__fraction-divider">/</span><span class="swiper-pagination__fraction-count"></span></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <!-- Swiper Pagination-->
          <div class="swiper-pagination" data-bullet-custom="true"></div>
        </div>
      <!-- Our services-->
      <section class="section section-inset-6 bg-default">
        <div class="container">
          <h4 class="wow fadeInLeft">Kluczowe atuty</h4>
          <div class="row row-xs no-md-gutters justify-content-center bordered-2">
            <div class="col-sm-6 col-lg-4 position-relative">
              <div class="services-modern">
                <article class="box-icon-modern wow fadeInDown">
                  <div class="box-icon-modern-icon mdi mdi-math-compass"></div>
                  <h5 class="box-icon-modern-title"><a href="/architektura">Nowoczesna architektura</a></h5>
                  <p class="box-icon-modern-text">Elegancka zabudowa bliźniacza i czworaki, idealnie wkomponowane w zieleń.</p><a class="box-icon-modern-link" href="/architektura">Zobacz wizję<span class="icon mdi mdi-arrow-right"></span></a>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 position-relative">
              <div class="services-modern">
                <article class="box-icon-modern wow fadeInDown" data-wow-delay=".1s">
                  <div class="box-icon-modern-icon mdi mdi-format-paint icon-32"></div>
                  <h5 class="box-icon-modern-title"><a href="/o-inwestycji/standard-wykonczenia">Prestiżowe wykończenie</a></h5>
                  <p class="box-icon-modern-text">Wysokiej klasy materiały zapewniające trwałość i estetykę.</p><a class="box-icon-modern-link" href="/o-inwestycji/standard-wykonczenia">Poznaj standard<span class="icon mdi mdi-arrow-right"></span></a>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 position-relative">
              <div class="services-modern">
                <article class="box-icon-modern wow fadeInDown" data-wow-delay=".2s">
                  <div class="box-icon-modern-icon mdi mdi-worker icon-39"></div>
                  <h5 class="box-icon-modern-title"><a href="/o-firmie">Sprawdzony wykonawca</a></h5>
                  <p class="box-icon-modern-text">Doświadczenie i jakość realizacji inwestycji na najwyższym poziomie.</p><a class="box-icon-modern-link" href="/o-firmie">O firmie<span class="icon mdi mdi-arrow-right"></span></a>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 position-relative">
              <div class="services-modern">
                <article class="box-icon-modern wow fadeInUp" data-wow-delay=".2s">
                  <div class="box-icon-modern-icon mdi mdi-comment-processing-outline icon-30"></div>
                  <h5 class="box-icon-modern-title"><a href="/dni-otwarte">Zapraszamy na dni otwarte</a></h5>
                  <p class="box-icon-modern-text">Zapraszamy do obejrzenia osiedla i rozmowy z ekspertami.</p><a class="box-icon-modern-link" href="/dni-otwarte">Sprawdź termin<span class="icon mdi mdi-arrow-right"></span></a>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 position-relative">
              <div class="services-modern">
                <article class="box-icon-modern wow fadeInUp" data-wow-delay=".1s">
                  <div class="box-icon-modern-icon mdi mdi-leaf icon-28"></div>
                  <h5 class="box-icon-modern-title"><a href="/eco-technologie">Ekologiczne rozwiązania</a></h5>
                  <p class="box-icon-modern-text">Energooszczędne technologie dbające o środowisko i Twój komfort.</p><a class="box-icon-modern-link" href="/eco-technologie">Zobacz więcej<span class="icon mdi mdi-arrow-right"></span></a>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 position-relative">
              <div class="services-modern">
                <article class="box-icon-modern wow fadeInUp">
                  <div class="box-icon-modern-icon mdi mdi-thumb-up-outline icon-30"></div>
                  <h5 class="box-icon-modern-title"><a href="/kontrola-jakosci">Dokładna kontrola jakości</a></h5>
                  <p class="box-icon-modern-text">Wnikliwe testy gwarantują solidność i bezpieczeństwo każdego etapu.</p><a class="box-icon-modern-link" href="/kontrola-jakosci">Dowiedz się więcej<span class="icon mdi mdi-arrow-right"></span></a>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section bg-image-4">
        <div class="container-fluid container-inset-0">
            <div id="mapa">
                <svg viewBox="0 0 7363.01 4207.43" width="100%" height="auto" style="position: absolute; top: 0; left: 0;">
                    <image href="static/images/modules/wiz_1.jpg" x="0" y="0" width="7363.01" height="4207.43" />

                    <!-- Lokale -->
                    <polygon points="2027.33,1728.86 2018.78,1348.43 2099.77,1344.63 2262.25,1196.41 2550.92,1248.63 2831.8,1360.55 2858,1554.16 2775.68,1571.09 2777.73,1766.26 2505.01,1870.16 2405.85,1888.41 2365.92,1889 " class="lokal" data-lokal="A1"></polygon>
                    <polygon points="2778.86,1580.07 2874.71,1549.33 3006.73,1381.13 3131.52,1377.52 3531.21,1524.01 3547.49,1538.48 3471.53,1533.05 3330.46,1704.86 3225.57,1748.27 3223.41,2006.01 3177.62,2037 3184.88,2065.32 3229.04,2097.14 3180.76,2156.41 3130.94,2125.4 2790.07,1992.19 " class="lokal" data-lokal="A2"></polygon>
                    <polygon points="3230.99,2093.7 3234.61,2194.98 3580.75,2361.37 3623.45,2312.53 3901.98,2274.92 4096.99,2151.68 4113.24,1739.36 3584.85,1552.79 3474.85,1536.81 3326.73,1706.76 3227.09,1748.84 3223.04,2012.57 3184.02,2050.12 " class="lokal" data-lokal="A3"></polygon>
                    <polygon points="4017.84,3665.02 3715.64,3468.81 3374.71,3209.07 3372.73,3104.83 3275.47,3039.8 3341.21,2968.55 3338.69,2638.55 3417.2,2584.65 3630.05,2317.03 3891.16,2280.14 4617.72,2637.81 4601.29,3250.03 " class="lokal" data-lokal="A4"></polygon>
                    <polygon points="5353.2,2477.57 5395.01,1995.62 4667.75,1751.82 4580.85,1768.77 4462.47,1949.83 4407.87,2014.86 4363.71,2286.61 4338.32,2354.3 4367.09,2477.57 4971.08,2752.86 " class="lokal" data-lokal="A5"></polygon>
                    <polygon points="4252.04,1121.66 4136.99,1207.94 4031.12,1220.27 4013.15,1422.36 3916.76,1446.19 3915.11,1577.74 3274.14,1314.77 3302.9,1043.59 3450.82,899.78 3643.93,932.65 " class="lokal" data-lokal="A6"></polygon>
                    <polygon points="4769.75,1269.57 4769.75,1614.72 4441.04,1791.4 3919.22,1573.63 3927.44,1466.8 4038.38,1433.93 4050.71,1240.81 4243.82,1121.66 " class="lokal" data-lokal="A7"></polygon>
                </svg>
                <div id="tooltip" class="tooltip"></div>
            </div>
            <div class="row g-0" style="margin-top: 0px !important;">
                <div class="col-md-4 col-lg-5 col-xl-6 position-relative box-transform-wrap box-transform-1">
                    <div class="box-transform" style="background-image: url(static/images/bg-index-12.jpg);"></div>
                </div>
                <div class="col-md-8 col-lg-7 col-xl-6 position-relative bg-image-3">
                    <div class="tabs-custom tabs-custom-3" id="tabs-12">
                        <div class="tab-content tab-content-4 section-inset-7">
                        <div class="tab-pane fade show active" id="tabs-12-1">
                            <h4 class="oh-desktop"><span class="d-inline-block wow slideInLeft">Idealna lokalizacja</span></h4>
                            <p class="wow fadeInRight">Wiśniowa House to 15 minut od centrum Warszawy, w otoczeniu zieleni.</p>
                            <div class="button-wrap oh-desktop"><a class="button button-icon button-icon-right button-primary wow slideInUp" href="/lokalizacja"><span class="icon mdi mdi-chevron-right"></span>Zobacz na mapie</a></div>
                        </div>
                        <div class="tab-pane fade" id="tabs-12-2">
                            <h4>Jak kupić swój lokal?</h4>
                            <p>Szybki wybór budynku, rezerwacja lokalu i podpisanie umowy.</p><a class="button button-icon button-icon-right button-primary" href="/proces-zakupu"><span class="icon mdi mdi-chevron-right"></span>Dowiedz się więcej</a>
                        </div>
                        <div class="tab-pane fade" id="tabs-12-3">
                            <h4>Potrzebujesz pomocy?</h4>
                            <p>Nasz zespół odpowie na wszystkie pytania i doradzi najlepsze rozwiązania.</p><a class="button button-icon button-icon-right button-primary" href="/kontakt"><span class="icon mdi mdi-chevron-right"></span>Napisz do nas</a>
                        </div>
                        </div>
                        <ul class="nav nav-tabs-3">
                            <li class="nav-item-3" role="presentation"><a class="nav-link-3 active" href="#tabs-12-1" data-bs-toggle="tab"><span>Sprawdź lokalizację</span></a></li>
                            <li class="nav-item-3" role="presentation"><a class="nav-link-3" href="#tabs-12-2" data-bs-toggle="tab"><span>Poznaj proces</span></a></li>
                            <li class="nav-item-3" role="presentation"><a class="nav-link-3" href="#tabs-12-3" data-bs-toggle="tab"><span>Skontaktuj się z nami</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- Latest projects-->


      <section class="section section-xl bg-default text-center">
        <div class="container">
          <div class="group-xl group-sm-justify">
            <h4 class="oh-desktop"><span class="d-inline-block wow slideInLeft">Dlaczego Wiśniowa House?</span></h4>
            <div class="dots-custom"></div>
          </div>
          <div class="owl-carousel owl-style-3" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" data-autoplay="true" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-pagination-class=".dots-custom">
            <!-- Services Creative-->
            <article class="services-creative">
                <a class="services-creative-figure" href="/architektura">
                <img src="static/images/architektura-19-370x230.jpg" alt="Nowoczesna Architektura" width="370" height="230"/>
                </a>
                <div class="services-creative-caption">
                <h5 class="services-creative-title"><a href="/architektura">Nowoczesna<br/>Architektura</a></h5>
                <p class="services-creative-text">Przemyślane projekty domów, które łączą elegancję z funkcjonalnością.</p>
                <span class="services-creative-counter box-ordered-item">01</span>
                </div>
            </article>
            
            <!-- Services Creative-->
            <article class="services-creative">
                <a class="services-creative-figure" href="/lokalizacja">
                <img src="static/images/lakalizacja-7-370x230.jpg" alt="Lokalizacja Idealna" width="370" height="230"/>
                </a>
                <div class="services-creative-caption">
                <h5 class="services-creative-title"><a href="/lokalizacja">Lokalizacja<br/>Idealna</a></h5>
                <p class="services-creative-text">Zieleń i spokój, a jednocześnie tylko 15 minut do centrum Warszawy.</p>
                <span class="services-creative-counter box-ordered-item">02</span>
                </div>
            </article>
            
            <!-- Services Creative-->
            <article class="services-creative">
                <a class="services-creative-figure" href="/eco-technologie">
                <img src="static/images/ekologiczne-20-370x230.jpg" alt="Ekologiczne Rozwiązania" width="370" height="230"/>
                </a>
                <div class="services-creative-caption">
                <h5 class="services-creative-title"><a href="/eco-technologie">Ekologiczne<br/>Rozwiązania</a></h5>
                <p class="services-creative-text">Energooszczędne technologie zapewniające komfort i ochronę środowiska.</p>
                <span class="services-creative-counter box-ordered-item">03</span>
                </div>
            </article>
            
            <!-- Services Creative-->
            <article class="services-creative">
                <a class="services-creative-figure" href="/o-inwestycji/standard-wykonczenia">
                <img src="static/images/standard-21-370x230.jpg" alt="Standard Wykończenia" width="370" height="230"/>
                </a>
                <div class="services-creative-caption">
                <h5 class="services-creative-title"><a href="/o-inwestycji/standard-wykonczenia">Standard<br/>Wykończenia</a></h5>
                <p class="services-creative-text">Materiały najwyższej jakości i dbałość o każdy szczegół wykończenia.</p>
                <span class="services-creative-counter box-ordered-item">04</span>
                </div>
            </article>
            
            <!-- Services Creative-->
            <article class="services-creative">
                <a class="services-creative-figure" href="/proces-zakupu">
                <img src="static/images/zakup-20-370x230.jpg" alt="Wygoda Zakupu" width="370" height="230"/>
                </a>
                <div class="services-creative-caption">
                <h5 class="services-creative-title"><a href="/proces-zakupu">Wygoda<br/>Zakupu</a></h5>
                <p class="services-creative-text">Prosty proces rezerwacji i profesjonalne wsparcie na każdym etapie.</p>
                <span class="services-creative-counter box-ordered-item">05</span>
                </div>
            </article>
            
            <!-- Services Creative-->
            <article class="services-creative">
                <a class="services-creative-figure" href="/o-firmie">
                <img src="static/images/wykonawca-21-370x230.jpg" alt="Sprawdzony Wykonawca" width="370" height="230"/>
                </a>
                <div class="services-creative-caption">
                <h5 class="services-creative-title"><a href="/o-firmie">Sprawdzony<br/>Wykonawca</a></h5>
                <p class="services-creative-text">20 lat doświadczenia w realizacji inwestycji mieszkaniowych.</p>
                <span class="services-creative-counter box-ordered-item">06</span>
                </div>
            </article>
  
          </div>
        </div>
      </section>
      <!-- Section CTA-->
      <section class="section parallax-container" data-parallax-img="static/images/bg-index-11.jpg">
        <div class="parallax-content section-sm section-inset-1 context-dark text-md-start">
          <div class="container">
            <div class="row row-30 justify-content-center align-items-center">
              <div class="col-sm-10 col-md-7 col-lg-6 col-xl-9">
                <h5 class="fw-normal text-transform-none oh-desktop"><span class="d-inline-block wow slideInUp">Zaufaj doświadczeniu DMD Budownictwo</span></h5>
              </div>
              <div class="col-md-5 col-lg-4 col-xl-3 text-md-end oh-desktop"><a class="button button-outline button-icon button-icon-right wow slideInDown" href="/o-firmie"><span class="icon mdi mdi-chevron-right"></span>Sprawdź nas</a></div>
            </div>
          </div>
        </div>
      </section>

      <!-- wizualizacje -->
      <section class="section section-xl bg-default text-center d-none d-lg-block">
        <div class="container">
          <h4 class="wow fadeInRight">Wizualizacje</h4>
        </div>
        <div class="container-fluid container-inset-0">
          <div class="row row-30 row-desktop-8 gutters-8 hoverdir" data-lightgallery="group">
            <div class="col-sm-6 col-lg-4 col-xxl-3">
              <div class="oh-desktop">
                <!-- Thumbnail Modern-->
                <article class="thumbnail thumbnail-modern block-1 hoverdir-item wow slideInRight" data-hoverdir-target=".thumbnail-modern-caption"><a class="thumbnail-modern-figure" href="static/images/grid-gallery-1-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/visaview/osiedle-gen-1.jpg" alt="" width="474" height="355"/></a>
                  <div class="thumbnail-modern-caption">
                    <h5 class="thumbnail-modern-title"><a href="/wizualizacje?cat=osiedle">Osiedle Wiśniowa House</a></h5>
                    <div class="thumbnail-modern-badge">Zobacz rozkład osiedla</div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
              <div class="oh-desktop">
                <!-- Thumbnail Modern-->
                <article class="thumbnail thumbnail-modern block-1 hoverdir-item wow slideInUp" data-hoverdir-target=".thumbnail-modern-caption"><a class="thumbnail-modern-figure" href="static/images/grid-gallery-2-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/visaview/zabudowa-gen-1.jpg" alt="" width="474" height="355"/></a>
                  <div class="thumbnail-modern-caption">
                    <h5 class="thumbnail-modern-title"><a href="/wizualizacje?cat=budynki">Nowoczesna Zabudowa</a></h5>
                    <div class="thumbnail-modern-badge">Zobacz budynki</div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
              <div class="oh-desktop">
                <!-- Thumbnail Modern-->
                <article class="thumbnail thumbnail-modern block-1 hoverdir-item wow slideInDown" data-hoverdir-target=".thumbnail-modern-caption"><a class="thumbnail-modern-figure" href="static/images/grid-gallery-3-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/visaview/zielen-gen-1.jpg" alt="" width="474" height="355"/></a>
                  <div class="thumbnail-modern-caption">
                    <h5 class="thumbnail-modern-title"><a href="/wizualizacje?cat=przestrzenie-wspolne">Przyjazna Okolica</a></h5>
                    <div class="thumbnail-modern-badge">Odkryj przestrzenie wspólne</div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
              <div class="oh-desktop">
                <!-- Thumbnail Modern-->
                <article class="thumbnail thumbnail-modern block-1 hoverdir-item wow slideInLeft" data-hoverdir-target=".thumbnail-modern-caption"><a class="thumbnail-modern-figure" href="static/images/visaview/lazienka-gen-1.jpg" data-lightgallery="item"><img src="static/images/visaview/lazienka-gen-1.jpg" alt="" width="474" height="355"/></a>
                  <div class="thumbnail-modern-caption">
                    <h5 class="thumbnail-modern-title"><a href="/wizualizacje?cat=wnetrza">Komfortowe Wnętrza</a></h5>
                    <div class="thumbnail-modern-badge">Poznaj aranżacje lokali</div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
              <div class="oh-desktop">
                <!-- Thumbnail Modern-->
                <article class="thumbnail thumbnail-modern block-1 hoverdir-item wow slideInRight" data-hoverdir-target=".thumbnail-modern-caption"><a class="thumbnail-modern-figure" href="static/images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/visaview/ogrod-gen-1.jpg" alt="" width="474" height="355"/></a>
                  <div class="thumbnail-modern-caption">
                    <h5 class="thumbnail-modern-title"><a href="/wizualizacje?cat=ogrody-i-tarasy">Zieleń i Relaks</a></h5>
                    <div class="thumbnail-modern-badge">Zobacz prywatne strefy</div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="oh-desktop">
                  <!-- Thumbnail Modern-->
                  <article class="thumbnail thumbnail-modern block-1 hoverdir-item wow slideInRight" data-hoverdir-target=".thumbnail-modern-caption"><a class="thumbnail-modern-figure" href="static/images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/visaview/noc-gen-1.jpg" alt="" width="474" height="355"/></a>
                    <div class="thumbnail-modern-caption">
                      <h5 class="thumbnail-modern-title"><a href="/wizualizacje?cat=wieczorny-klimat">Magia Wieczoru</a></h5>
                      <div class="thumbnail-modern-badge">Zobacz osiedle nocą</div>
                    </div>
                  </article>
                </div>
            </div>
            
            
          </div>
        </div>
      </section>
      <!-- Ślepy margines -->
      <div class="m-6 d-lg-none" style="margin: 38px; padding: 1.5rem;"></div>
      
      <section class="section swiper-container swiper-slider swiper-slider-8 swiper-slider-10" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-slide-effect="fade">
        <div class="swiper-wrapper text-start">
          <div class="swiper-slide context-dark">
            <div class="swiper-slide-caption section-lg">
              <div class="container">
                <div class="row justify-content-center justify-content-md-between">
                  <div class="col-5 d-none d-md-block position-static">
                    <div class="quote-classic-figure"><img src="static/images/clients-24-960x574.jpg" alt="" width="960" height="574"/>
                    </div>
                  </div>
                  <div class="col-sm-11 col-md-7 col-xl-6">
                    <div class="inset-left-xl-70">
                      <h4>Wizualizacja budynku osiedla.</h4>
                      <!-- Quote Classic-->
                      <article class="quote-classic quote-classic-2 quote-classic-4" data-caption-animate="fadeInLeft" data-caption-delay="0">
                        <div class="quote-classic-text">
                          <p class="q">Wiśniowa House to miejsce, gdzie nowoczesność spotyka się z naturą.</p>
                        </div>
                        <p class="quote-classic-author">Marcin Wnęk - Architekt Projektu</p>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide context-dark">
            <div class="swiper-slide-caption section-lg">
              <div class="container">
                <div class="row justify-content-center justify-content-md-between">
                  <div class="col-5 d-none d-md-block position-static">
                    <div class="quote-classic-figure"><img src="static/images/clients-25-960x574.jpg" alt="" width="960" height="574"/>
                    </div>
                  </div>
                  <div class="col-sm-11 col-md-7 col-xl-6">
                    <div class="inset-left-xl-70">
                      <h4>Zdjęcie wnętrza salonu z aranżacją.</h4>
                      <!-- Quote Classic-->
                      <article class="quote-classic quote-classic-2 quote-classic-4" data-caption-animate="fadeInLeft" data-caption-delay="0">
                        <div class="quote-classic-text">
                          <p class="q">Każdy lokal zaprojektowaliśmy z myślą o wygodzie i komforcie mieszkańców.</p>
                        </div>
                        <p class="quote-classic-author">Anna Nowak, Projektant Wnętrz</p>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide context-dark">
            <div class="swiper-slide-caption section-lg">
              <div class="container">
                <div class="row justify-content-center justify-content-md-between">
                  <div class="col-5 d-none d-md-block position-static">
                    <div class="quote-classic-figure"><img src="static/images/clients-26-960x574.jpg" alt="" width="960" height="574"/>
                    </div>
                  </div>
                  <div class="col-sm-11 col-md-7 col-xl-6">
                    <div class="inset-left-xl-70">
                      <h4>Ujęcie przestrzeni wspólnej z alejkami i zielenią.</h4>
                      <!-- Quote Classic-->
                      <article class="quote-classic quote-classic-2 quote-classic-4" data-caption-animate="fadeInLeft" data-caption-delay="0">
                        <div class="quote-classic-text">
                          <p class="q">Tworzymy przestrzeń, która inspiruje i zapewnia spokój w codziennym życiu.</p>
                        </div>
                        <p class="quote-classic-author">Dariusz DObrosielki - Główny Inwestor</p>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper Navigation-->
        <div class="swiper-navigation__module">
          <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index"></span><span class="swiper-pagination__fraction-divider">/</span><span class="swiper-pagination__fraction-count"></span></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination" data-bullet-custom="true"></div>
      </section>
      <!-- Our Services-->
      <section class="section section-xl bg-default text-md-start">
        <div class="container">
          <div class="row row-xxl row-50 justify-content-lg-between">
            <div class="col-md-6">
                <h4>FAQ</h4>
                <!-- Bootstrap collapse-->
                <div class="card-group-classic" id="accordion6" role="tablist" aria-multiselectable="false">
                  <!-- Bootstrap card-->
                  <article class="card card-custom card-classic card-classic-2 wow fadeInLeft">
                    <div class="card-header" role="tab">
                      <div class="card-title">
                        <a id="accordion6-card-head-jdocllls" data-bs-toggle="collapse" data-bs-parent="#accordion6" href="#accordion6-card-body-jifuxnja" aria-controls="accordion6-card-body-jifuxnja" aria-expanded="true" role="button">
                          Czy lokale są sprzedawane w stanie deweloperskim czy wykończone pod klucz?
                          <div class="card-arrow"></div>
                        </a>
                      </div>
                    </div>
                    <div class="collapse show" id="accordion6-card-body-jifuxnja" aria-labelledby="accordion6-card-head-jdocllls" data-bs-parent="#accordion6" role="tabpanel">
                      <div class="card-body">
                        <p>
                          Wiśniowa House oferuje lokale w stanie deweloperskim, co pozwala na dowolną aranżację przestrzeni 
                          według własnych potrzeb. Dla osób preferujących gotowe rozwiązania, istnieje możliwość skorzystania 
                          z opcji wykończenia pod klucz, dostosowanej do indywidualnych wymagań klienta.
                        </p>
                      </div>
                    </div>
                  </article>
                  <!-- Bootstrap card-->
                  <article class="card card-custom card-classic card-classic-2 wow fadeInLeft" data-wow-delay=".05s">
                    <div class="card-header" role="tab">
                      <div class="card-title">
                        <a class="collapsed" id="accordion6-card-head-faq2" data-bs-toggle="collapse" data-bs-parent="#accordion6" href="#accordion6-card-body-faq2" aria-controls="accordion6-card-body-faq2" aria-expanded="false" role="button">
                          Jakie są opcje finansowania zakupu lokalu?
                          <div class="card-arrow"></div>
                        </a>
                      </div>
                    </div>
                    <div class="collapse" id="accordion6-card-body-faq2" aria-labelledby="accordion6-card-head-faq2" data-bs-parent="#accordion6" role="tabpanel">
                      <div class="card-body">
                        <p>
                          Deweloper współpracuje z zaufanymi doradcami kredytowymi, którzy pomogą znaleźć najlepsze rozwiązanie 
                          finansowe. Możesz skorzystać z kredytu hipotecznego lub innych form finansowania, a także liczyć na 
                          pełne wsparcie przy załatwianiu formalności.
                        </p>
                      </div>
                    </div>
                  </article>
                  <!-- Bootstrap card-->
                  <article class="card card-custom card-classic card-classic-2 wow fadeInLeft" data-wow-delay=".1s">
                    <div class="card-header" role="tab">
                      <div class="card-title">
                        <a class="collapsed" id="accordion6-card-head-faq3" data-bs-toggle="collapse" data-bs-parent="#accordion6" href="#accordion6-card-body-faq3" aria-controls="accordion6-card-body-faq3" aria-expanded="false" role="button">
                          Czy osiedle jest wyposażone w ekologiczne technologie?
                          <div class="card-arrow"></div>
                        </a>
                      </div>
                    </div>
                    <div class="collapse" id="accordion6-card-body-faq3" aria-labelledby="accordion6-card-head-faq3" data-bs-parent="#accordion6" role="tabpanel">
                      <div class="card-body">
                        <p>
                          Tak, Wiśniowa House stawia na ekologiczne rozwiązania, takie jak energooszczędne systemy ogrzewania, 
                          dobre izolacje termiczne oraz przygotowanie infrastruktury pod instalacje fotowoltaiczne. Dbamy o 
                          środowisko, jednocześnie zapewniając niższe koszty utrzymania dla mieszkańców.
                        </p>
                      </div>
                    </div>
                  </article>
                  <!-- Bootstrap card-->
                  <article class="card card-custom card-classic card-classic-2 wow fadeInLeft" data-wow-delay=".15s">
                    <div class="card-header" role="tab">
                      <div class="card-title">
                        <a class="collapsed" id="accordion6-card-head-faq4" data-bs-toggle="collapse" data-bs-parent="#accordion6" href="#accordion6-card-body-faq4" aria-controls="accordion6-card-body-faq4" aria-expanded="false" role="button">
                          Kiedy planowane jest zakończenie budowy i oddanie lokali do użytku?
                          <div class="card-arrow"></div>
                        </a>
                      </div>
                    </div>
                    <div class="collapse" id="accordion6-card-body-faq4" aria-labelledby="accordion6-card-head-faq4" data-bs-parent="#accordion6" role="tabpanel">
                      <div class="card-body">
                        <p>
                          Planowane zakończenie budowy to IV kwartał 2025 roku. Po tym terminie rozpocznie się proces odbiorów 
                          technicznych oraz przekazywania lokali nowym właścicielom. Szczegółowy harmonogram można uzyskać, 
                          kontaktując się z biurem sprzedaży.
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              
            <div class="col-md-6 col-lg-5">
              <article class="team-classic team-classic-2">
                <div class="unit flex-column flex-sm-row align-items-start align-items-sm-center">
                  <div class="unit-left"><a class="team-classic-figure-3" href="#"><img src="static/images/team-bartek.jpg" alt="" width="99" height="99"/></a></div>
                  <div class="unit-body">
                    <h5 class="team-classic-title-2">Masz pytania? Skontaktuj się z nami!</h5>
                    <div class="team-classic-name"><a href="#">Bartosz Piesiewicz</a>, <span>Konsultant</span></div>
                  </div>
                </div>
              </article>
              <form class="rd-form rd-mailform" id="contact-form">
                <div class="form-wrap wow fadeInRight">
                  <input class="form-input" id="contact-name-6" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-name-6">Twoje imię i nazwisko*</label>
                </div>
                <div class="form-wrap wow fadeInRight" data-wow-delay=".05s">
                  <input class="form-input" id="contact-email-6" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="contact-email-6">Twój adres e-mail*</label>
                </div>
                <div class="form-wrap wow fadeInRight" data-wow-delay=".15s">
                  <!--Select Lokali-->
                  <select class="form-input" data-minimum-results-search="Infinity" data-constraints="@Required" name="lokal" data-placeholder="Wybierz lokal">
                    <option label="placeholder"></option>
                    
                    {% for building, locales in available_premises.items() %}
                      <optgroup label="{{ building }}">
                        {% for lokal in locales %}
                          <option value="{{ lokal.id_direct }}">{{ lokal.name }}</option>
                        {% endfor %}
                      </optgroup>
                    {% endfor %}
                  </select>
                  
                </div>
                <div class="form-wrap wow fadeInRight" data-wow-delay=".2s">
                  <input class="form-input" id="contact-phone-6" type="text" name="phone" data-constraints="@Numeric">
                  <label class="form-label" for="contact-phone-6">Twój numer telefonu</label>
                </div>
                <input type="hidden" value="Wiadomość ze strony 'Głównej'" name="title">
                <input type="hidden" value="Interesuje mnie ten lokal. Proszę o kontakt." name="message">
                <button class="button button-icon button-icon-right button-gray-3 wow fadeInRight" type="submit" data-wow-delay=".25s">
                  <span class="icon mdi mdi-chevron-right"></span>Wyślij wiadomość
                </button>
              </form>
              <div id="Answering"></div>
              
            </div>
          </div>
        </div>
      </section>
      <section class="section parallax-container" data-parallax-img="static/images/bg-counter-6.jpg">
        <div class="parallax-content section-xxl context-dark">
          <div class="container">
            <h5 class="fw-light text-spacing-200 wow fadeInLeft">Liczby mówią same za siebie</h5>
            <h2 class="fw-light text-spacing-200 wow fadeInRight">Postęp sprzedaży Wiśniowa House</h2>
            <div class="counter-modern-wrap">
              <!-- Licznik 1 -->
              <div class="counter-modern">
                <h3 class="counter-modern-number"><span class="counter">2</span>
                </h3>
                <div class="counter-modern-decor"></div>
                <p class="counter-modern-title">Sprzedane lokale</p>
              </div>
              <!-- Licznik 2 -->
              <div class="counter-modern">
                <h3 class="counter-modern-number"><span class="counter">4</span>
                </h3>
                <div class="counter-modern-decor"></div>
                <p class="counter-modern-title">Zarezerwowane lokale</p>
              </div>
              <!-- Licznik 3 -->
              <div class="counter-modern">
                <h3 class="counter-modern-number"><span class="counter">6</span>
                    <!-- <span class="symbol">+</span> -->
                </h3>
                <div class="counter-modern-decor"></div>
                <p class="counter-modern-title">Zostało lokali</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Our Clients-->
      <section class="section section-md bg-default text-center">
        <div class="container">
          <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-margin="30" data-autoplay="true" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut"><a class="clients-creative" href="#"><img src="static/images/clients-12-270x143.png" alt="" width="270" height="143"/></a><a class="clients-creative" href="#"><img src="static/images/clients-13-270x143.png" alt="" width="270" height="143"/></a><a class="clients-creative" href="#"><img src="static/images/clients-14-270x143.png" alt="" width="270" height="143"/></a><a class="clients-creative" href="#"><img src="static/images/clients-15-270x143.png" alt="" width="270" height="143"/></a><a class="clients-creative" href="#"><img src="static/images/clients-16-270x143.png" alt="" width="270" height="143"/></a><a class="clients-creative" href="#"><img src="static/images/clients-17-270x143.png" alt="" width="270" height="143"/></a></div>
        </div>
      </section>
{% endblock %}
{% block bottom_scripts %}
<script>
        const tooltip = document.getElementById('tooltip');

        // Funkcja do ładowania danych z pliku JSON
        function loadLokale() {
            fetch('static/json/lokale.json')
                .then(response => response.json())
                .then(data => {
                    data.forEach(lokal => {
                        const rect = document.querySelector(`.lokal[data-lokal="${lokal.id}"]`);
                        if (rect) {
                            rect.classList.remove('dostępny', 'rezerwacja', 'sprzedane');
                            rect.classList.add(lokal.status);

                            // Dodanie obsługi zdarzeń dla każdego lokalu
                            rect.addEventListener('mouseover', () => {
                                tooltip.style.display = 'block';
                                tooltip.innerHTML = `
                                    <strong>Lokal: ${lokal.id}</strong><br>
                                    Status: ${lokal.status}<br>
                                    Cena: ${lokal.cena ? lokal.cena + ' PLN' : 'Niedostępny'}
                                `;
                            });

                            rect.addEventListener('mousemove', (e) => {
                                const offsetX = 10; // Przesunięcie w poziomie względem kursora
                                const offsetY = 10; // Przesunięcie w pionie względem kursora
                                tooltip.style.left = `${e.pageX + offsetX}px`;
                                tooltip.style.top = `${e.pageY + offsetY}px`;
                                // console.log(`e.pageX: ${e.pageX}, e.pageY: ${e.pageY}`);
                                // console.log(`tooltip.style.left: ${e.pageX + 10}px, tooltip.style.top: ${e.pageY + 10}px`);
                            });

                            rect.addEventListener('mouseout', () => {
                                tooltip.style.display = 'none';
                            });

                            rect.addEventListener('click', () => {
                                if (lokal.status === 'dostępny') {
                                    alert(`Lokal ${lokal.id} jest dostępny za ${lokal.cena} PLN.`);
                                } else {
                                    alert(`Lokal ${lokal.id} jest ${lokal.status}.`);
                                }
                            });
                        }
                    });
                })
                .catch(error => console.error('Błąd podczas ładowania danych:', error));
        }

        // Inicjalizacja
        document.addEventListener('DOMContentLoaded', loadLokale);
        
        document.querySelector('#contact-form').addEventListener('submit', async function (e) {
          e.preventDefault();

          const form = e.target;
          const formData = new FormData(form);
          const outputDiv = document.getElementById('Answering');

          // Czyścimy poprzedni komunikat
          outputDiv.textContent = '';
          outputDiv.className = '';

          try {
            const response = await fetch('/api/contact', {
              method: 'POST',
              body: formData,
            });

            const result = await response.json();

            if (response.ok) {
              outputDiv.textContent = '✅ Wiadomość została wysłana!';
              outputDiv.classList.add('success-message mt-2');
              form.reset();
            } else {
              outputDiv.textContent = '❌ Błąd: ' + result.message;
              outputDiv.classList.add('error-message mt-2');
            }
          } catch (error) {
            outputDiv.textContent = '⚠️ Wystąpił problem z połączeniem.';
            outputDiv.classList.add('error-message mt-2');
            console.error(error);
          }

          // Znikanie po 5 sekundach
          setTimeout(() => {
            outputDiv.textContent = '';
            outputDiv.className = '';
          }, 5000);
        });

    </script>
{% endblock %}

