{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">Lokalizacja</h3>
            <div class="breadcrumbs-custom-decor"></div>
        </div>
        <div class="box-transform" style="background-image: url(static/images/bg-project.jpg);"></div>
    </div>
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/"><i class="bi bi-house" style="font-size: 24px;"></i></a></li>
            <li class="active">Lokalizacja</li>
        </ul>
    </div>
</section>
<!-- Project Page-->
<section class="section section-lg bg-default text-md-start">
    <div class="container">
        <div class="row">
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d447.2041290473488!2d20.866535734715086!3d52.28366791392005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d52.2584064!2d20.8371712!4m5!1s0x471ecae04a49859d%3A0xfa38d3d36f2442cc!2sS8!3m2!1d51.8767517!2d20.389149!5e1!3m2!1spl!2spl!4v1741694739133!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-6 col-xl-7">
            <div class="slick-project">
            <img src="../static/images/lokalizacja-d-web.png" alt="" width="670" height="477"/>
            </div>
            <div class="table-custom-responsive">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td><i class="bi bi-person"></i></td>
                        <td><span>Inwestor:</span> Wiśniowa House</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-calendar"></i></td>
                        <td><span>Rok realizacji:</span> 2025</td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-geo-alt"></i></td>
                        <td><span>Lokalizacja:</span> 15 minut od centrum Warszawy, w otoczeniu zieleni Puszczy Kampinoskiej</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-leaf"></i></td>
                        <td><span>Otoczenie:</span> Bliskość natury, cisza, spokój i harmonia</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-check-circle"></i></td>
                        <td><span>Atuty:</span> Komfort, dogodna lokalizacja, nowoczesny design</td>
                    </tr>
                </tbody>
            </table>          
        </div>
        
        </div>
        <div class="col-lg-6 col-xl-5">
            <div class="project-page">
            <h4>Wiśniowa House</h4>
            <p>Wiśniowa House to idealne miejsce dla tych, którzy pragną żyć blisko natury, jednocześnie zachowując wygodny dostęp do centrum Warszawy. Położone zaledwie 15 minut od serca miasta, oferuje harmonię i spokój w otoczeniu Puszczy Kampinoskiej.</p>
            <p>Projekt ten łączy komfort nowoczesnego życia z naturalnym krajobrazem. Każdy element został zaprojektowany z myślą o wygodzie mieszkańców, tworząc przestrzeń do życia, która inspiruje i regeneruje siły. To miejsce, gdzie codzienność spotyka się z wyjątkowością.</p>
            <p>Bliskość terenów zielonych sprawia, że można tu odetchnąć od miejskiego zgiełku. Jednocześnie dogodna lokalizacja zapewnia łatwy dostęp do najważniejszych punktów w mieście, takich jak szkoły, sklepy czy miejsca pracy.</p>
            <p>Wiśniowa House to nie tylko inwestycja w nieruchomości, to inwestycja w jakość życia. Wybierz miejsce, które spełni Twoje oczekiwania i da Ci możliwość odnalezienia prawdziwej harmonii.</p>
            <div class="group-sm group-middle">
                <!-- <span class="project-page-social-title">Share</span>
                <div>
                <ul class="list-inline project-page-social-list">
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                </ul>
                </div> -->
            </div><a class="button button-lg button-primary button-winona" href="/kontakt">Skontaktuj się</a>
            </div>
        </div>
        </div>
    </div>
</section>
  
{% endblock %}