{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
  <div class="swiper-container swiper-slider swiper-slider-7" data-loop="true" data-autoplay="90009999" data-simulate-touch="false" data-add-slides="1">
    <div class="swiper-wrapper text-sm-start">
      <div class="swiper-slide" data-slide-bg="../static/images/modules/breadcrumbs-DD.png">
        <div class="swiper-slide-caption section-md">
          <div class="swiper-box">
            <h6 class="swiper-time" data-caption-animate="fadeInLeft" data-caption-delay="500">
              <span class="d-inline-block" data-caption-animate="slideInDown" data-caption-delay="500">Wiśniowa House <br></span>
            </h6>
            <h3 class="swiper-title oh">          
              <span class="d-block" data-caption-animate="slideInLeft" data-caption-delay="200">O inwestycji</span>
            </h3>
            <p>Wiśniowa House to nowoczesna i ambitna inwestycja mieszkaniowa, która wyróżnia się najwyższą jakością wykonania.</p>
          </div>
          <div class="swiper-content-bg-1"></div>
        </div>
      </div>
      <div class="swiper-slide" data-slide-bg="../static/images/modules/breadcrumbs-DC.png"></div>
    </div>
    <div class="swiper-pagination" data-bullet-custom="true"></div>
  </div>
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="/"><i class="bi bi-house" style="font-size: 24px;"></i></a></li>
      <li class="active">O inwestycji</li>
    </ul>
  </div>
</section>

  <!-- Project Page-->
  <section class="section section-lg bg-default text-md-start">
    <div class="container">
      <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-6 col-xl-7">
          <div class="slick-project">
            <!-- Slick Carousel-->
            <div class="slick-slider carousel-parent" data-arrows="true" data-autoplay="true" data-swipe="true" data-items="1" data-child="#child-carousel-7" data-for="#child-carousel-7" data-slide-effect="true">
              <div class="item"><img src="static/images/project-5-670x477.jpg" alt="" width="670" height="477"/>
                <div class="slick-project-caption">
                  <div class="slick-project-title">#1</div>
                </div>
              </div>
              <div class="item"><img src="static/images/project-6-670x477.jpg" alt="" width="670" height="477"/>
                <div class="slick-project-caption">
                  <div class="slick-project-title">#2</div>
                </div>
              </div>
              <div class="item"><img src="static/images/project-7-670x477.jpg" alt="" width="670" height="477"/>
                <div class="slick-project-caption">
                  <div class="slick-project-title">#3</div>
                </div>
              </div>
              <div class="item"><img src="static/images/project-8-670x477.jpg" alt="" width="670" height="477"/>
                <div class="slick-project-caption">
                  <div class="slick-project-title">#4</div>
                </div>
              </div>
            </div>
            <div class="slick-slider child-carousel" id="child-carousel-7" data-for=".carousel-parent" data-items="3" data-sm-items="3" data-md-items="4" data-lg-items="3" data-xl-items="4" data-slide-to-scroll="1">
              <div class="item"><img src="static/images/project-5-670x477.jpg" alt="" width="670" height="477"/>
              </div>
              <div class="item"><img src="static/images/project-6-670x477.jpg" alt="" width="670" height="477"/>
              </div>
              <div class="item"><img src="static/images/project-7-670x477.jpg" alt="" width="670" height="477"/>
              </div>
              <div class="item"><img src="static/images/project-8-670x477.jpg" alt="" width="670" height="477"/>
              </div>
            </div>
          </div>
          <div class="table-custom-responsive">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td><i class="bi bi-building"></i></td>
                        <td><span>Inwestor:</span> Wiśniowa House</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-calendar"></i></td>
                        <td><span>Rok realizacji:</span> 2024</td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-geo-alt"></i></td>
                        <td><span>Lokalizacja:</span> 15 minut od centrum Warszawy</td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-cash"></i></td>
                        <td><span>Standard:</span> Najwyższa jakość, nowoczesne technologie i ekologia</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="project-page">
            <h4>Wiśniowa House</h4>
            <p>Wiśniowa House to nowoczesna i ambitna inwestycja mieszkaniowa, która wyróżnia się najwyższą jakością wykonania oraz zastosowaniem innowacyjnych technologii. Projekt obejmuje 12 przestronnych lokali o powierzchni 140 m² każdy, zaprojektowanych z myślą o komforcie i funkcjonalności.</p>
            <p>Architektura inwestycji łączy nowoczesny design z harmonią naturalnego otoczenia. Każdy lokal został wyposażony w energooszczędne rozwiązania, zapewniając niskie koszty utrzymania oraz minimalny wpływ na środowisko. W projekcie uwzględniono ekologiczne technologie, takie jak systemy rekuperacji, fotowoltaika oraz efektywne izolacje termiczne.</p>
            <p>Dodatkowym atutem inwestycji jest bliskość terenów zielonych i dogodna lokalizacja - zaledwie 15 minut od centrum Warszawy. Mieszkańcy mogą cieszyć się zarówno spokojem, jak i łatwym dostępem do miejskiej infrastruktury.</p>
            <p>Wiśniowa House to idealne miejsce dla osób poszukujących luksusu, nowoczesności i bliskości natury. To inwestycja, która spełnia najwyższe standardy jakości oraz zaspokaja potrzeby wymagających klientów.</p>
          </div>
        </div>
      </div>
      <!-- Section Services-->
      <section class="section section-xl section-top-0 bg-default text-md-start">
        <div class="container">
          <!-- Owl Carousel-->
          <div class="owl-carousel bordered-4" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-mouse-drag="false" data-dots="true">
            <!-- Services Tammy-->
            <article class="services-tammy wow fadeInUp"><span class="services-tammy-counter box-ordered-item">01</span>
              <div class="services-tammy-caption">
                <h5 class="services-tammy-title">
                  <a href="/o-inwestycji/standard-wykonczenia">Standard</a>
                </h5>
                <a class="services-tammy-figure" href="/o-inwestycji/standard-wykonczenia">
                  <img src="images/steelworks/services-1-218x129.jpg" alt="" width="218" height="129"/>
                </a>
                <a class="services-tammy-link" href="single-service.html">Sprawdź</a>
              </div>
            </article>
            <!-- Services Tammy-->
            <article class="services-tammy wow fadeInUp" data-wow-delay=".05s"><span class="services-tammy-counter box-ordered-item">02</span>
              <div class="services-tammy-caption">
                <h5 class="services-tammy-title"><a href="/o-inwestycji/technologie-budowlane">Technologie</a></h5><a class="services-tammy-figure" href="single-service.html"><img src="images/steelworks/services-2-218x129.jpg" alt="" width="218" height="129"/></a><a class="services-tammy-link" href="single-service.html">Read More</a>
              </div>
            </article>
            <!-- Services Tammy-->
            <article class="services-tammy wow fadeInUp" data-wow-delay=".1s"><span class="services-tammy-counter box-ordered-item">03</span>
              <div class="services-tammy-caption">
                <h5 class="services-tammy-title"><a href="/o-inwestycji/zalety-lokalizacji">Lokalizacja</a></h5><a class="services-tammy-figure" href="single-service.html"><img src="images/steelworks/services-3-218x129.jpg" alt="" width="218" height="129"/></a><a class="services-tammy-link" href="single-service.html">Read More</a>
              </div>
            </article>
            <!-- Services Tammy-->
            <article class="services-tammy wow fadeInUp" data-wow-delay=".15s"><span class="services-tammy-counter box-ordered-item">04</span>
              <div class="services-tammy-caption">
                <h5 class="services-tammy-title"><a href="/o-inwestycji/plan-osiedla">Plan Osiedla</a></h5><a class="services-tammy-figure" href="single-service.html"><img src="images/steelworks/services-4-218x129.jpg" alt="" width="218" height="129"/></a><a class="services-tammy-link" href="single-service.html">Read More</a>
              </div>
            </article>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mt-1">
          <a class="wow fadeInRight" href="/o-inwestycji/standard-wykonczenia">Standard</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-1">
          <a class="wow fadeInRight" href="/o-inwestycji/technologie-budowlane">Technologie</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-1">
          <a class="wow fadeInRight" href="/o-inwestycji/zalety-lokalizacji">Lokalizacja</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-1">
          <a class="wow fadeInRight" href="/o-inwestycji/plan-osiedla">Plan Osiedla</a>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}