{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
      <div class="container">
        <h3 class="breadcrumbs-custom-title">Project Page</h3>
        <div class="breadcrumbs-custom-decor"></div>
      </div>
      <!-- <div class="box-transform" style="background-image: url(../static/images/bg-project.jpg);"></div> -->
      {% set filepath = url_for('static', filename='images/bg-project.jpg') %}
      <div class="box-transform" style="background-image: url('{{ filepath }}');"></div>
    </div>
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="/"><i class="bi bi-house" style="font-size: 24px;"></i></a></li>
        <li><a href="/o-inwestycji">O inwestycji</a></li>
        {% if detail == 'standard-wykonczenia' %}
          <li class="active">Standard</li>
        {% elif detail == 'technologie-budowlane' %}
          <li class="active">Technologie</li>
        {% elif detail == 'zalety-lokalizacji' %}
          <li class="active">Lokalizacja</li>
        {% elif detail == 'plan-osiedla' %}
          <li class="active">Plan Osiedla</li>
        {% endif %}
      </ul>
    </div>
  </section>
  {% if detail == 'standard-wykonczenia' %}
  <!-- About-->
  <section class="section section-lg bg-default">
    <div class="container">
      <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-md-start" id="tabs-4">
        <div class="col-lg-4 col-xl-3">
          <h5 class="text-spacing-200">Standard segmentów</h5>
          <ul class="nav list-category list-category-down-md-inline-block">
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s">
              <a class="active" href="#tabs-4-1" data-bs-toggle="tab">Zagospodarowanie terenu</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".1s">
              <a href="#tabs-4-2" data-bs-toggle="tab">Rozwiązania budowlane konstrukcyjno-materiałowe</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".2s">
              <a href="#tabs-4-3" data-bs-toggle="tab">Wykończenie zewnętrzne budynku</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s">
              <a href="#tabs-4-4" data-bs-toggle="tab">Wykończenie wewnętrzne budynku</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s">
              <a href="#tabs-4-5" data-bs-toggle="tab">Materiały izolacyjne</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s">
              <a href="#tabs-4-6" data-bs-toggle="tab">Wyposażenie techniczne budynku</a>
            </li>
          </ul>
          <a class="button button-lg button-primary button-winona" href="contacts.html">Skontaktuj się z nami</a>

        </div>
        <div class="col-lg-8 col-xl-9">
          <!-- Zakładki treści-->
          <div class="tab-content tab-content-1">
            <div class="tab-pane fade show active" id="tabs-4-1">
              <h4 class="section-title">Zagospodarowanie terenu</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Wjazd na posesję poprzez drogę gminną.</li>
                  <li class="custom-list-item">Miejsce składowania odpadów stałych, utwardzenie terenu pod kosze śmietnikowe.</li>
                  <li class="custom-list-item">Ruch pieszy i kołowy:
                      <ul class="nested-list">
                          <li class="nested-list-item">Podjazd do garażu.</li>
                          <li class="nested-list-item">Utwardzenie terenu z kostki betonowej.</li>
                          <li class="nested-list-item">Eko krata.</li>
                          <li class="nested-list-item">Dojścia do budynków w formie utwardzonych chodników.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Ogrodzenie:
                      <ul class="nested-list">
                          <li class="nested-list-item">Od frontu stalowe prefabrykowane.</li>
                          <li class="nested-list-item">Wydzielenie ogródków przez stalowe panele o wysokości 1,5 m.</li>
                          <li class="nested-list-item">Zewnętrzne ogrodzenie budynków o wysokości 1,7 m.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Brama i furtka:
                      <ul class="nested-list">
                          <li class="nested-list-item">Brama i furtka otwierane z elektrozamkiem.</li>
                          <li class="nested-list-item">Brama bez automatyki.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Teren biologicznie czynny – wyrównany.</li>
              </ul>

              <img src="../static/images/about-1-835x418.jpg" alt="O nas" width="835" height="418"/>
            </div>
            <div class="tab-pane fade" id="tabs-4-2">
              <h4 class="section-title">Rozwiązania budowlane konstrukcyjno-materiałowe</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Ławy żelbetowe, ściany murowane, zaizolowane przeciwwilgociowo, ocieplone od zewnątrz.</li>
                  <li class="custom-list-item">Ściany murowane, wzmocnione trzpieniami żelbetowymi.</li>
                  <li class="custom-list-item">Strop nad parterem żelbetowy lub systemowy, strop nad piętrem drewniany.</li>
                  <li class="custom-list-item">Ściany działowe z bloczków.</li>
                  <li class="custom-list-item">Kominy wentylacji grawitacyjnej murowane.</li>
                  <li class="custom-list-item">Kominy spalinowe do kotłów gazowych.</li>
                  <li class="custom-list-item">Konstrukcja dachowa drewniana.</li>
                  <li class="custom-list-item">Wysokość pomieszczeń:
                      <ul class="nested-list">
                          <li class="nested-list-item">Parter: min. 270 cm</li>
                          <li class="nested-list-item">Piętro: min. 260 cm</li>
                          <li class="nested-list-item">Poddasze w części użytkowej: 190 cm</li>
                      </ul>
                  </li>
              </ul>
              <img src="../static/images/about-2-835x418.jpg" alt="Nasza misja" width="835" height="418"/>
            </div>
            <div class="tab-pane fade" id="tabs-4-3">
              <h4 class="section-title">Wykończenie zewnętrzne budynku</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Ściany zewnętrzne – tynk silikonowy na siatce w kolorze białym i grafitowym/antracytowym, fragmenty elewacji – tynk betono-podobny.</li>
                  <li class="custom-list-item">Dach – blacha w kolorze grafitowym oraz tynk w kolorze grafitowym.</li>
                  <li class="custom-list-item">Kominy – obudowa komina w kolorze grafitowym.</li>
                  <li class="custom-list-item">Rury spustowe, rynny – PCV.</li>
                  <li class="custom-list-item">Stolarka okienna i balkonowa z PCV – okleina w kolorze grafitowym/antracytowym, zestawy okienne trzyszybowe, współczynnik przenikania ciepła dla całego zestawu max 1,1 W/m²K.</li>
                  <li class="custom-list-item">Ślusarka:
                      <ul class="nested-list">
                          <li class="nested-list-item">Drzwi zewnętrzne wejściowe o podwyższonej antywłamaniowości, kolor grafitowy/antracytowy.</li>
                          <li class="nested-list-item">Brama garażowa segmentowa w kolorze grafitowym/antracytowym, otwierana automatycznie.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Parapety zewnętrzne – blacha stalowa powlekana w kolorze grafitowym/antracytowym.</li>
              </ul>

              <img src="static/images/about-3-835x418.jpg" alt="Nasze cele" width="835" height="418"/>
            </div>
            <div class="tab-pane fade" id="tabs-4-4">
              <h4 class="section-title">Wykończenie wewnętrzne budynku</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Ściany wewnętrzne – w części mieszkalnej tynki gipsowe, w łazienkach tynki gipsowe zatarte na ostro, w garażu tynki gipsowe.</li>
                  <li class="custom-list-item">Posadzki – szlichta betonowa przygotowana pod indywidualne wykończenie.</li>
                  <li class="custom-list-item">Drzwi wewnętrzne – otwory zostawione pod stolarkę o standardowych wymiarach.</li>
                  <li class="custom-list-item">Schody na piętro – konstrukcja żelbetowa, zatarta na ostro, do indywidualnego wykończenia. Schody na poddasze w formie wyłazu.</li>
                  <li class="custom-list-item">Parapety wewnętrzne – do wykonania we własnym zakresie.</li>
                  <li class="custom-list-item">Balustrady wewnętrzne – do wykonania we własnym zakresie.</li>
              </ul>

              <img src="static/images/about-4-835x418.jpg" alt="Nasze wartości" width="835" height="418"/>
            </div>
            <div class="tab-pane fade" id="tabs-4-5">
              <h4 class="section-title">Materiały izolacyjne</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Izolacje termiczne:
                      <ul class="nested-list">
                          <li class="nested-list-item">Ściany zewnętrzne – styropian 18 cm.</li>
                          <li class="nested-list-item">Ściany fundamentowe – styropian.</li>
                          <li class="nested-list-item">Podłoga na gruncie – ocieplona styropianem twardym.</li>
                          <li class="nested-list-item">Strop – ocieplony wełną mineralną min. 25 cm.</li>
                          <li class="nested-list-item">Spody stropów nad wnękami tarasowymi i wejściem – styropian 15 cm.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Paroizolacje, przekładki technologiczne – folia PE układana na zakład.</li>
                  <li class="custom-list-item">Hydroizolacje:
                      <ul class="nested-list">
                          <li class="nested-list-item">Izolacja pozioma i pionowa ścian fundamentowych oraz ław.</li>
                          <li class="nested-list-item">Posadzki na gruncie – folia PE pod ścianami i papa na posadzce parteru.</li>
                          <li class="nested-list-item">Izolacja pozioma posadzek – folia na zakład.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Wiatroizolacje – folia paroprzepuszczalna w połaci dachu.</li>
              </ul>

              <img src="static/images/about-4-835x418.jpg" alt="Nasze wartości" width="835" height="418"/>
            </div>
            <div class="tab-pane fade" id="tabs-4-6">
              <h4 class="section-title">Wyposażenie techniczne budynku</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Wentylacja mechaniczna – instalacja rurami elastycznymi (bez rekuperatora).</li>
                  <li class="custom-list-item">Komin spalinowy dla pieca gazowego.</li>
                  <li class="custom-list-item">Instalacja wodno-kanalizacyjna i centralne ogrzewanie, ogrzewanie podłogowe.</li>
                  <li class="custom-list-item">Instalacja gazowa do kotłowni, piec gazowy kondensacyjny z podłączeniem do instalacji wewnętrznej CO i CWU.</li>
                  <li class="custom-list-item">Zasobnik na ciepłą wodę 120l.</li>
                  <li class="custom-list-item">Ogrzewanie podłogowe – parter i piętro.</li>
                  <li class="custom-list-item">Instalacja elektryczna (bez osprzętu).</li>
                  <li class="custom-list-item">Instalacja alarmowa (bez osprzętu).</li>
                  <li class="custom-list-item">Instalacja światłowodowa – wprowadzenie.</li>
              </ul>

              <img src="static/images/about-4-835x418.jpg" alt="Nasze wartości" width="835" height="418"/>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  {% elif detail == 'technologie-budowlane' %}
    <!-- Project Page-->
  <section class="section section-lg bg-default text-md-start">
    <div class="container">
      <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-6 col-xl-7">
          
          
          <div class="table-custom-responsive">
            <table class="table-custom table-custom-primary table-project">
              <tbody>
                <tr>
                  <td><span class="icon icon-26 mdi mdi-account"></span></td>
                  <td><span>Client:</span> Smith Ltd.</td>
                </tr>
                <tr>
                  <td><span class="icon mdi mdi-calendar-today"></span></td>
                  <td><span>Year:</span> 2010</td>
                </tr>
                <tr>
                  <td><span class="icon mdi mdi-map-marker"></span></td>
                  <td><span>Location:</span> Los Angeles</td>
                </tr>
                <tr>
                  <td><span class="icon icon-28 mdi mdi-cash"></span></td>
                  <td><span>Value:</span> $1.299.525,00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="project-page">
            <h4>Smith office center</h4>
            <p>Lanistas accelerare in secundus rugensis civitas! Heu, castus lamia! Eheu. Pol. Tolerare inciviliter ducunt ad ferox devirginato. Genetrixs accelerare in cubiculum! Dominas ortum in vasa! Gabaliums velum in tolosa!</p>
            <p>Primus repressors ducunt ad buxum. Fluctuis sunt boreass de audax lixa. Fidess messis! Navis volares, tanquam emeritis decor. Sunt quadraes resuscitabo noster, nobilis victrixes. Extum de germanus luna, locus silva! Habitios crescere, tanquam fatalis contencio. Cum lacta manducare, omnes bromiumes aperto salvus, bi-color parmaes. Rector, heuretes, et scutum. Abactuss messis in gratis chremisa!</p>
            <p>Nunquam experientia consilium. Ridetis vix ducunt ad fidelis devirginato. Demolitiones favere, tanquam rusticus extum. Coordinatae potuss, tanquam azureus accola.</p>
            <p>Finis de gratis historia, attrahendam vortex! Ubi est brevis guttus? Nunquam contactus nomen. Credere aliquando ducunt ad albus calcaria. Cannabiss manducare! Nunquam captis fides. Cur hydra ridetis? Cum abactus studere, omnes demolitionees attrahendam velox, alter extumes.</p>
            
            <a class="button button-lg button-primary button-winona" href="/kontakt">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% elif detail == 'zalety-lokalizacji' %}
    <!-- Project Page-->
  <section class="section section-lg bg-default text-md-start">
    <div class="container">
      <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-6 col-xl-7">
          
          
          <div class="table-custom-responsive">
            <table class="table-custom table-custom-primary table-project">
              <tbody>
                <tr>
                  <td><span class="icon icon-26 mdi mdi-account"></span></td>
                  <td><span>Client:</span> Smith Ltd.</td>
                </tr>
                <tr>
                  <td><span class="icon mdi mdi-calendar-today"></span></td>
                  <td><span>Year:</span> 2010</td>
                </tr>
                <tr>
                  <td><span class="icon mdi mdi-map-marker"></span></td>
                  <td><span>Location:</span> Los Angeles</td>
                </tr>
                <tr>
                  <td><span class="icon icon-28 mdi mdi-cash"></span></td>
                  <td><span>Value:</span> $1.299.525,00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="project-page">
            <h4>Smith office center</h4>
            <p>Lanistas accelerare in secundus rugensis civitas! Heu, castus lamia! Eheu. Pol. Tolerare inciviliter ducunt ad ferox devirginato. Genetrixs accelerare in cubiculum! Dominas ortum in vasa! Gabaliums velum in tolosa!</p>
            <p>Primus repressors ducunt ad buxum. Fluctuis sunt boreass de audax lixa. Fidess messis! Navis volares, tanquam emeritis decor. Sunt quadraes resuscitabo noster, nobilis victrixes. Extum de germanus luna, locus silva! Habitios crescere, tanquam fatalis contencio. Cum lacta manducare, omnes bromiumes aperto salvus, bi-color parmaes. Rector, heuretes, et scutum. Abactuss messis in gratis chremisa!</p>
            <p>Nunquam experientia consilium. Ridetis vix ducunt ad fidelis devirginato. Demolitiones favere, tanquam rusticus extum. Coordinatae potuss, tanquam azureus accola.</p>
            <p>Finis de gratis historia, attrahendam vortex! Ubi est brevis guttus? Nunquam contactus nomen. Credere aliquando ducunt ad albus calcaria. Cannabiss manducare! Nunquam captis fides. Cur hydra ridetis? Cum abactus studere, omnes demolitionees attrahendam velox, alter extumes.</p>
            
            <a class="button button-lg button-primary button-winona" href="/kontakt">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% elif detail == 'plan-osiedla' %}
    <!-- Project Page-->
  <section class="section section-lg bg-default text-md-start">
    <div class="container">
      <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-6 col-xl-7">
          
          
          <div class="table-custom-responsive">
            <table class="table-custom table-custom-primary table-project">
              <tbody>
                <tr>
                  <td><span class="icon icon-26 mdi mdi-account"></span></td>
                  <td><span>Client:</span> Smith Ltd.</td>
                </tr>
                <tr>
                  <td><span class="icon mdi mdi-calendar-today"></span></td>
                  <td><span>Year:</span> 2010</td>
                </tr>
                <tr>
                  <td><span class="icon mdi mdi-map-marker"></span></td>
                  <td><span>Location:</span> Los Angeles</td>
                </tr>
                <tr>
                  <td><span class="icon icon-28 mdi mdi-cash"></span></td>
                  <td><span>Value:</span> $1.299.525,00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="project-page">
            <h4>Smith office center</h4>
            <p>Lanistas accelerare in secundus rugensis civitas! Heu, castus lamia! Eheu. Pol. Tolerare inciviliter ducunt ad ferox devirginato. Genetrixs accelerare in cubiculum! Dominas ortum in vasa! Gabaliums velum in tolosa!</p>
            <p>Primus repressors ducunt ad buxum. Fluctuis sunt boreass de audax lixa. Fidess messis! Navis volares, tanquam emeritis decor. Sunt quadraes resuscitabo noster, nobilis victrixes. Extum de germanus luna, locus silva! Habitios crescere, tanquam fatalis contencio. Cum lacta manducare, omnes bromiumes aperto salvus, bi-color parmaes. Rector, heuretes, et scutum. Abactuss messis in gratis chremisa!</p>
            <p>Nunquam experientia consilium. Ridetis vix ducunt ad fidelis devirginato. Demolitiones favere, tanquam rusticus extum. Coordinatae potuss, tanquam azureus accola.</p>
            <p>Finis de gratis historia, attrahendam vortex! Ubi est brevis guttus? Nunquam contactus nomen. Credere aliquando ducunt ad albus calcaria. Cannabiss manducare! Nunquam captis fides. Cur hydra ridetis? Cum abactus studere, omnes demolitionees attrahendam velox, alter extumes.</p>
            
            <a class="button button-lg button-primary button-winona" href="/kontakt">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  
  
{% endblock %}