{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
  <div class="swiper-container swiper-slider swiper-slider-7" data-loop="true" data-autoplay="90009999" data-simulate-touch="false" data-add-slides="1">
    <div class="swiper-wrapper text-sm-start">
      {% if detail == 'standard-wykonczenia' %}
      <div class="swiper-slide" data-slide-bg="../static/images/standard-1.png">
      {% elif detail == 'technologie-budowlane' %}
      <div class="swiper-slide" data-slide-bg="../static/images/technologie-1.png">
      {% elif detail == 'zalety-lokalizacji' %}
      <div class="swiper-slide" data-slide-bg="../static/images/zalety-1.png">
      {% elif detail == 'plan-osiedla' %}
      <div class="swiper-slide" data-slide-bg="../static/images/planosiedla-1.png">
      {% endif %}
      
        
        <div class="swiper-slide-caption section-md">
          <div class="swiper-box">
            <h6 class="swiper-time" data-caption-animate="fadeInLeft" data-caption-delay="500">
              <span class="d-inline-block" data-caption-animate="slideInDown" data-caption-delay="500">Wiśniowa House <br></span>
            </h6>
            {% if detail == 'standard-wykonczenia' %}
              <h3 class="swiper-title oh">          
                <span class="d-block" data-caption-animate="slideInLeft" data-caption-delay="200">Standard wykończenia</span>
              </h3>
              <p>Stosujemy najwyższej jakości materiały i nowoczesne rozwiązania, dbając o każdy detal – od podłóg, przez stolarkę, aż po armaturę i systemy inteligentnego domu.</p>
            {% elif detail == 'technologie-budowlane' %}
              <h3 class="swiper-title oh">          
                <span class="d-block" data-caption-animate="slideInLeft" data-caption-delay="200">Technologie budowlane</span>
              </h3>
              <p>Wykorzystujemy sprawdzone systemy konstrukcyjne, zapewniające trwałość i wysoką efektywność energetyczną budynków.</p>
            {% elif detail == 'zalety-lokalizacji' %}
              <h3 class="swiper-title oh">          
                <span class="d-block" data-caption-animate="slideInLeft" data-caption-delay="200">Zalety lokalizacji</span>
              </h3>
              <p>Inwestycja położona w spokojnej i dobrze skomunikowanej okolicy, z szybkim dostępem do centrum.</p>
            {% elif detail == 'plan-osiedla' %}
              <h3 class="swiper-title oh">          
                <span class="d-block" data-caption-animate="slideInLeft" data-caption-delay="200">Plan Osiedla</span>
              </h3>
              <p>Zapoznaj się z naszym osiedlem – starannie zaprojektowanym kompleksem.</p>
            {% endif %}
          </div>
          <div class="swiper-content-bg-1"></div>
        </div>
      </div>
      <div class="swiper-slide" data-slide-bg="../static/images/modules/breadcrumbs-DC.png"></div>
    </div>
  </div>
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="/"><i class="bi bi-house" style="font-size: 24px;"></i></a></li>
      <li><a href="/o-inwestycji">O inwestycji</a></li>
      {% if detail == 'standard-wykonczenia' %}
        <li class="active">Standard</li>
      {% elif detail == 'technologie-budowlane' %}
        <li class="active">Technologie</li>
      {% elif detail == 'zalety-lokalizacji' %}
        <li class="active">Lokalizacja</li>
      {% elif detail == 'plan-osiedla' %}
        <li class="active">Plan Osiedla</li>
      {% endif %}
    </ul>
  </div>
</section>



  {% if detail == 'standard-wykonczenia' %}
  <!-- About-->
  <section class="section section-lg bg-default">
    <div class="container">
      <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-md-start" id="tabs-4">
        <div class="col-lg-4 col-xl-3">
          <h5 class="text-spacing-200">Standard segmentów</h5>
          <ul class="nav list-category list-category-down-md-inline-block">
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s">
              <a class="active" href="#tabs-4-1" data-bs-toggle="tab">Zagospodarowanie terenu</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".1s">
              <a href="#tabs-4-2" data-bs-toggle="tab">Rozwiązania budowlane konstrukcyjno-materiałowe</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".2s">
              <a href="#tabs-4-3" data-bs-toggle="tab">Wykończenie zewnętrzne budynku</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s">
              <a href="#tabs-4-4" data-bs-toggle="tab">Wykończenie wewnętrzne budynku</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s">
              <a href="#tabs-4-5" data-bs-toggle="tab">Materiały izolacyjne</a>
            </li>
            <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s">
              <a href="#tabs-4-6" data-bs-toggle="tab">Wyposażenie techniczne budynku</a>
            </li>
          </ul>
          <a class="button button-lg button-primary button-winona" href="contacts.html">Pobierz w pdf</a>

        </div>
        <div class="col-lg-8 col-xl-9">
          <!-- Zakładki treści-->
          <div class="tab-content tab-content-1">
            <div class="tab-pane fade show active" id="tabs-4-1">
              <h4 class="section-title">Zagospodarowanie terenu</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Wjazd na posesję poprzez drogę gminną.</li>
                  <li class="custom-list-item">Miejsce składowania odpadów stałych, utwardzenie terenu pod kosze śmietnikowe.</li>
                  <li class="custom-list-item">Ruch pieszy i kołowy:
                      <ul class="nested-list">
                          <li class="nested-list-item">Podjazd do garażu.</li>
                          <li class="nested-list-item">Utwardzenie terenu z kostki betonowej.</li>
                          <li class="nested-list-item">Eko krata.</li>
                          <li class="nested-list-item">Dojścia do budynków w formie utwardzonych chodników.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Ogrodzenie:
                      <ul class="nested-list">
                          <li class="nested-list-item">Od frontu stalowe prefabrykowane.</li>
                          <li class="nested-list-item">Wydzielenie ogródków przez stalowe panele o wysokości 1,5 m.</li>
                          <li class="nested-list-item">Zewnętrzne ogrodzenie budynków o wysokości 1,7 m.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Brama i furtka:
                      <ul class="nested-list">
                          <li class="nested-list-item">Brama i furtka otwierane z elektrozamkiem.</li>
                          <li class="nested-list-item">Brama bez automatyki.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Teren biologicznie czynny – wyrównany.</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="tabs-4-2">
              <h4 class="section-title">Rozwiązania budowlane konstrukcyjno-materiałowe</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Ławy żelbetowe, ściany murowane, zaizolowane przeciwwilgociowo, ocieplone od zewnątrz.</li>
                  <li class="custom-list-item">Ściany murowane, wzmocnione trzpieniami żelbetowymi.</li>
                  <li class="custom-list-item">Strop nad parterem żelbetowy lub systemowy, strop nad piętrem drewniany.</li>
                  <li class="custom-list-item">Ściany działowe z bloczków.</li>
                  <li class="custom-list-item">Kominy wentylacji grawitacyjnej murowane.</li>
                  <li class="custom-list-item">Kominy spalinowe do kotłów gazowych.</li>
                  <li class="custom-list-item">Konstrukcja dachowa drewniana.</li>
                  <li class="custom-list-item">Wysokość pomieszczeń:
                      <ul class="nested-list">
                          <li class="nested-list-item">Parter: min. 270 cm</li>
                          <li class="nested-list-item">Piętro: min. 260 cm</li>
                          <li class="nested-list-item">Poddasze w części użytkowej: 190 cm</li>
                      </ul>
                  </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="tabs-4-3">
              <h4 class="section-title">Wykończenie zewnętrzne budynku</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Ściany zewnętrzne – tynk silikonowy na siatce w kolorze białym i grafitowym/antracytowym, fragmenty elewacji – tynk betono-podobny.</li>
                  <li class="custom-list-item">Dach – blacha w kolorze grafitowym oraz tynk w kolorze grafitowym.</li>
                  <li class="custom-list-item">Kominy – obudowa komina w kolorze grafitowym.</li>
                  <li class="custom-list-item">Rury spustowe, rynny – PCV.</li>
                  <li class="custom-list-item">Stolarka okienna i balkonowa z PCV – okleina w kolorze grafitowym/antracytowym, zestawy okienne trzyszybowe, współczynnik przenikania ciepła dla całego zestawu max 1,1 W/m²K.</li>
                  <li class="custom-list-item">Ślusarka:
                      <ul class="nested-list">
                          <li class="nested-list-item">Drzwi zewnętrzne wejściowe o podwyższonej antywłamaniowości, kolor grafitowy/antracytowy.</li>
                          <li class="nested-list-item">Brama garażowa segmentowa w kolorze grafitowym/antracytowym, otwierana automatycznie.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Parapety zewnętrzne – blacha stalowa powlekana w kolorze grafitowym/antracytowym.</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="tabs-4-4">
              <h4 class="section-title">Wykończenie wewnętrzne budynku</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Ściany wewnętrzne – w części mieszkalnej tynki gipsowe, w łazienkach tynki gipsowe zatarte na ostro, w garażu tynki gipsowe.</li>
                  <li class="custom-list-item">Posadzki – szlichta betonowa przygotowana pod indywidualne wykończenie.</li>
                  <li class="custom-list-item">Drzwi wewnętrzne – otwory zostawione pod stolarkę o standardowych wymiarach.</li>
                  <li class="custom-list-item">Schody na piętro – konstrukcja żelbetowa, zatarta na ostro, do indywidualnego wykończenia. Schody na poddasze w formie wyłazu.</li>
                  <li class="custom-list-item">Parapety wewnętrzne – do wykonania we własnym zakresie.</li>
                  <li class="custom-list-item">Balustrady wewnętrzne – do wykonania we własnym zakresie.</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="tabs-4-5">
              <h4 class="section-title">Materiały izolacyjne</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Izolacje termiczne:
                      <ul class="nested-list">
                          <li class="nested-list-item">Ściany zewnętrzne – styropian 18 cm.</li>
                          <li class="nested-list-item">Ściany fundamentowe – styropian.</li>
                          <li class="nested-list-item">Podłoga na gruncie – ocieplona styropianem twardym.</li>
                          <li class="nested-list-item">Strop – ocieplony wełną mineralną min. 25 cm.</li>
                          <li class="nested-list-item">Spody stropów nad wnękami tarasowymi i wejściem – styropian 15 cm.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Paroizolacje, przekładki technologiczne – folia PE układana na zakład.</li>
                  <li class="custom-list-item">Hydroizolacje:
                      <ul class="nested-list">
                          <li class="nested-list-item">Izolacja pozioma i pionowa ścian fundamentowych oraz ław.</li>
                          <li class="nested-list-item">Posadzki na gruncie – folia PE pod ścianami i papa na posadzce parteru.</li>
                          <li class="nested-list-item">Izolacja pozioma posadzek – folia na zakład.</li>
                      </ul>
                  </li>
                  <li class="custom-list-item">Wiatroizolacje – folia paroprzepuszczalna w połaci dachu.</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="tabs-4-6">
              <h4 class="section-title">Wyposażenie techniczne budynku</h4>
              <ul class="custom-list">
                  <li class="custom-list-item">Wentylacja mechaniczna – instalacja rurami elastycznymi (bez rekuperatora).</li>
                  <li class="custom-list-item">Komin spalinowy dla pieca gazowego.</li>
                  <li class="custom-list-item">Instalacja wodno-kanalizacyjna i centralne ogrzewanie, ogrzewanie podłogowe.</li>
                  <li class="custom-list-item">Instalacja gazowa do kotłowni, piec gazowy kondensacyjny z podłączeniem do instalacji wewnętrznej CO i CWU.</li>
                  <li class="custom-list-item">Zasobnik na ciepłą wodę 120l.</li>
                  <li class="custom-list-item">Ogrzewanie podłogowe – parter i piętro.</li>
                  <li class="custom-list-item">Instalacja elektryczna (bez osprzętu).</li>
                  <li class="custom-list-item">Instalacja alarmowa (bez osprzętu).</li>
                  <li class="custom-list-item">Instalacja światłowodowa – wprowadzenie.</li>
              </ul>
            </div>
            <!-- <img src="static/images/standard-1.png"/> -->
          </div>
        </div>
        
      </div>
    </div>
  </section>
  {% elif detail == 'technologie-budowlane' %}
  <!-- Project Page-->
  <section class="section section-lg bg-default text-md-start">
    <div class="container">
      <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-6 col-xl-7">
          
          
          <div class="table-custom-responsive">
            <table class="table-custom table-custom-primary table-project">
                <tbody>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Ławy fundamentowe żelbetowe</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Bloczki do ścian zewnętrznych i wewnętrznych</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Trzpienie żelbetowe wzmacniające</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Strop żelbetowy lub systemowy nad parterem</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Strop drewniany nad piętrem</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Konstrukcja dachu drewniana</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Styropian 18 cm (ocieplenie ścian zewnętrznych)</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Wełna mineralna min. 25 cm (ocieplenie stropu)</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Twardy styropian (ocieplenie podłogi na gruncie)</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Folia PE (paroizolacja i przekładki technologiczne)</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Papa (izolacja przeciwwilgociowa posadzki)</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Folia paroprzepuszczalna (wiatroizolacja dachu)</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Okna PVC trzyszybowe</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Drzwi zewnętrzne o podwyższonej antywłamaniowości</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Brama garażowa segmentowa</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Tynk silikonowy (elewacja)</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Tynk betono-podobny (elementy dekoracyjne elewacji)</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Blacha dachowa w kolorze grafitowym</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-chevron-right"></span></td>
                        <td>Parapety zewnętrzne z blachy powlekanej</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="project-page">
              <h4>Technologie budowlane</h4>
              <p>
                  W procesie budowy zastosowano nowoczesne i sprawdzone technologie oraz materiały, zapewniające wysoką 
                  trwałość konstrukcji, energooszczędność i komfort użytkowania. Fundamenty budynku wykonano w technologii 
                  żelbetowych ław fundamentowych, zapewniających stabilność i trwałość całej konstrukcji. Ściany zewnętrzne 
                  i wewnętrzne wymurowano z bloczków, a w kluczowych miejscach dodatkowo wzmocniono je trzpieniami żelbetowymi, 
                  co zwiększa odporność na obciążenia.
              </p>

              <p>
                  Stropy nad parterem wykonano w technologii żelbetowej lub systemowej, co gwarantuje odpowiednią nośność 
                  i akustykę, natomiast stropy nad piętrem w technologii drewnianej. Konstrukcja dachu również opiera się 
                  na solidnych elementach drewnianych, co umożliwia zastosowanie odpowiednich warstw izolacyjnych i wykończeniowych.
              </p>
              <p>
                  Zewnętrzne ściany budynku zostały ocieplone styropianem o grubości 18 cm, co znacząco poprawia parametry 
                  termiczne budynku. Fundamenty zaizolowano przeciwwilgociowo i ocieplono, a podłogi na gruncie zabezpieczono 
                  twardym styropianem, co zwiększa komfort cieplny we wnętrzu. Strop nad ostatnią kondygnacją ocieplony 
                  został wełną mineralną o grubości minimum 25 cm, zapewniając odpowiednią izolację cieplną i akustyczną.
              </p>
              <p>
                  Hydroizolacje obejmują izolację poziomą i pionową ścian fundamentowych oraz specjalistyczne warstwy 
                  ochronne w posadzkach na gruncie – zastosowano m.in. folię PE oraz papę. Ochronę przed wilgocią uzupełnia 
                  wiatroizolacyjna folia paroprzepuszczalna w połaci dachowej.
              </p>
              <p>
                  W budynku przewidziano nowoczesne systemy techniczne, takie jak ogrzewanie podłogowe na parterze 
                  i piętrze, zasilane przez piec gazowy kondensacyjny z zasobnikiem ciepłej wody 120 litrów. Wykonano 
                  kompletne instalacje wodno-kanalizacyjne, elektryczne oraz światłowodowe, a także przygotowano 
                  instalację alarmową.
              </p>
              <p>
                  Stolarka okienna wykonana została z nowoczesnych profili PVC z okleiną w kolorze grafitowym/antracytowym. 
                  Zastosowano energooszczędne zestawy trzyszybowe o współczynniku przenikania ciepła nieprzekraczającym 
                  1,1 W/m²K. Elewacja łączy tynk silikonowy w kolorze białym i grafitowym z fragmentami tynku betono-podobnego, 
                  a dach pokryto blachą w kolorze grafitowym.
              </p>
      
              <a class="button button-lg button-primary button-winona" href="/kontakt">Skontaktuj się</a>
          </div>
      </div>
      </div>
    </div>
  </section>
  {% elif detail == 'zalety-lokalizacji' %}
    <!-- Project Page-->
  <section class="section section-lg bg-default text-md-start">
    <div class="container">
      <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-6 col-xl-7">
          
          
          <div class="table-custom-responsive">
            <table class="table-custom table-custom-primary table-project">
                <tbody>
                    <tr>
                        <td><span class="icon icon-26 mdi mdi-map-marker"></span></td>
                        <td><span>Lokalizacja:</span> Puszcza Kampinoska, 15 minut od centrum Warszawy</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-nature"></span></td>
                        <td><span>Otoczenie:</span> Tereny zielone, szlaki piesze i rowerowe</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-school"></span></td>
                        <td><span>Infrastruktura:</span> Blisko szkoły, sklepy, usługi</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-road"></span></td>
                        <td><span>Komunikacja:</span> Dogodny dojazd do tras wylotowych i komunikacji miejskiej</td>
                    </tr>
                    <tr>
                        <td><span class="icon mdi mdi-home-modern"></span></td>
                        <td><span>Charakter inwestycji:</span> Osiedle domów jednorodzinnych</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="project-page">
              <h4>Wiśniowa House</h4>
              <p>
                  Wiśniowa House to wyjątkowa inwestycja łącząca bliskość natury z dogodnym dostępem do centrum Warszawy. Zaledwie 15 minut drogi dzieli przyszłych mieszkańców od tętniącego życiem serca stolicy, a jednocześnie osiedle otoczone jest zielenią Puszczy Kampinoskiej. To idealne rozwiązanie dla tych, którzy cenią sobie ciszę i spokój, nie rezygnując z udogodnień wielkomiejskiego życia.
              </p>
              <p>
                  Projekt Wiśniowa House powstał z myślą o harmonii pomiędzy nowoczesną architekturą a naturalnym otoczeniem. Każdy detal osiedla został zaprojektowany tak, aby zapewnić maksymalny komfort mieszkańcom i stworzyć przyjazną przestrzeń sprzyjającą relaksowi. To miejsce, gdzie można cieszyć się prywatnością, spokojem i pięknem przyrody na wyciągnięcie ręki.
              </p>
              <p>
                  Bliskość terenów rekreacyjnych, spacerowych i rowerowych to nie jedyna zaleta tej lokalizacji. W okolicy znajdują się szkoły, sklepy, punkty usługowe oraz szybki dostęp do tras wylotowych i komunikacji miejskiej. Wiśniowa House to nie tylko inwestycja w nieruchomości, ale przede wszystkim inwestycja w jakość życia – idealne miejsce dla rodzin, par i wszystkich, którzy marzą o domu w zielonym otoczeniu, bez rezygnacji z miejskich udogodnień.
              </p>
              
              <a class="button button-lg button-primary button-winona" href="/kontakt">Skontaktuj się</a>
          </div>
      </div>
      
      </div>
    </div>
  </section>
  {% elif detail == 'plan-osiedla' %}
    <!-- Project Page-->
  <section class="section section-lg bg-default text-md-start">
    <div class="container">
      <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-6 col-xl-7">
          <div class="slick-project">
            <a href="../static/images/plan-osiedla-web.png" data-lightgallery="item">
              <img src="../static/images/plan-osiedla-web.png" alt="" width="670" height="477"/>
            </a>
            
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="project-page">
              <h4>Plan osiedla</h4>
              <p>
                  Przedstawiamy szczegółowy plan osiedla Wiśniowa House, który ukazuje rozmieszczenie budynków, infrastruktury drogowej oraz terenów zielonych. Układ został zaprojektowany z myślą o wygodzie mieszkańców, zapewniając komfortowy dostęp do wszystkich części osiedla, a jednocześnie zachowując kameralny charakter i maksymalną prywatność.
              </p>
              <p>
                  Każda nieruchomość posiada wyznaczoną przestrzeń rekreacyjną, miejsca postojowe oraz funkcjonalne ciągi piesze i kołowe. Plan osiedla harmonijnie łączy nowoczesną architekturę z otaczającą przyrodą, tworząc przyjazne miejsce do życia dla rodzin ceniących spokój i kontakt z naturą.
              </p>
              
              <a class="button button-lg button-primary button-winona" href="#" target="_blank">Pobierz plan osiedla w PDF</a>
          </div>
      </div>      
      </div>
    </div>
  </section>
  {% endif %}
  
  
{% endblock %}