{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
  <div class="swiper-container swiper-slider swiper-slider-7" data-loop="true" data-autoplay="90009999" data-simulate-touch="false" data-add-slides="1">
    <div class="swiper-wrapper text-sm-start">
      <div class="swiper-slide" data-slide-bg="static/images/modules/breadcrumbs-DD.png">
        <div class="swiper-slide-caption section-md">
          <div class="swiper-box">
            <h6 class="swiper-time" data-caption-animate="fadeInLeft" data-caption-delay="500">
              <span class="d-inline-block" data-caption-animate="slideInDown" data-caption-delay="500">Wiśniowa House <br></span>
            </h6>
            <h3 class="swiper-title oh">          
              <span class="d-block" data-caption-animate="slideInLeft" data-caption-delay="200">Polityka prywatności</span>
            </h3>
            <p>Dbamy o bezpieczeństwo Twoich danych – zapoznaj się z naszą polityką prywatności, aby dowiedzieć się, w jaki sposób chronimy i przetwarzamy Twoje informacje zgodnie z obowiązującymi przepisami.</p>
          </div>
          <div class="swiper-content-bg-1"></div>
        </div>
      </div>
      <div class="swiper-slide" data-slide-bg="static/images/modules/breadcrumbs-DC.png"></div>
    </div>
  </div>
  <div class="container">
      <ul class="breadcrumbs-custom-path">
          <li><a href="/"><i class="bi bi-house" style="font-size: 24px;"></i></a></li>
          <li class="active">Polityka prywatności</li>
      </ul>
  </div>
</section>
<!-- Privacy Policy -->
<section class="section section-lg bg-default text-md-start">
  <div class="container">
    <h3>Polityka Prywatności</h3>
    <!-- Terms list -->
    <dl class="list-terms">
      <dt class="heading-6">Informacje ogólne</dt>
      <dd>Szanujemy prywatność użytkowników naszej strony internetowej. Gromadzimy wyłącznie dane niezbędne do prawidłowego działania witryny oraz umożliwienia kontaktu z nami w sprawie oferty.</dd>

      <dt class="heading-6">Pliki cookies</dt>
      <dd>Strona wykorzystuje wyłącznie niezbędne pliki cookies wymagane do jej prawidłowego funkcjonowania. Nie stosujemy cookies do celów marketingowych, analitycznych ani remarketingowych.</dd>

      <dt class="heading-6">Zakres gromadzonych danych</dt>
      <dd>Dane przesyłane przez formularz kontaktowy wykorzystywane są wyłącznie w celu udzielenia odpowiedzi na zapytanie oraz prezentacji oferty. Nie są one używane do żadnych innych celów, w tym marketingowych, i nie są udostępniane osobom trzecim.</dd>

      <dt class="heading-6">Dane do umów</dt>
      <dd>Strona internetowa nie zbiera danych osobowych do celów zawarcia umowy rezerwacyjnej ani przedwstępnej. Dane te są pobierane wyłącznie osobiście przez naszego pracownika podczas bezpośredniego kontaktu.</dd>

      <dt class="heading-6">Logowanie</dt>
      <dd>Nasza strona nie wymaga logowania i nie zakłada tworzenia konta użytkownika.</dd>

      <dt class="heading-6">Prawa użytkownika</dt>
      <dd>Użytkownik ma prawo dostępu do swoich danych, ich sprostowania, usunięcia, ograniczenia przetwarzania, a także wniesienia sprzeciwu wobec ich przetwarzania. W celu realizacji tych praw prosimy o kontakt mailowy.</dd>

      <dt class="heading-6">Bezpieczeństwo danych</dt>
      <dd>Dokładamy wszelkich starań, aby zapewnić bezpieczeństwo i poufność przekazywanych danych. Nie ponosimy jednak odpowiedzialności za ryzyko związane z korzystaniem z Internetu.</dd>

      <dt class="heading-6">Kontakt</dt>
      <dd>W przypadku pytań lub wątpliwości dotyczących przetwarzania danych osobowych prosimy o kontakt pod adresem: <a class="privacy-link" href="mailto:biuro@dmdbudownictwo.pl">biuro@dmdbudownictwo.pl</a></dd>
    </dl>
  </div>
</section>

{% endblock %}