{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
        <div class="breadcrumbs-custom box-transform-wrap context-dark">
            <div class="container">
                <h3 class="breadcrumbs-custom-title">Project Page</h3>
                <div class="breadcrumbs-custom-decor"></div>
            </div>
            <div class="box-transform" style="background-image: url(static/images/bg-project.jpg);"></div>
        </div>
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="/"><i class="bi bi-house" style="font-size: 24px;"></i></a></li>
                <li class="active">Proces zakupu</li>
            </ul>
        </div>
</section>
<section class="section parallax-container" data-parallax-img="static/images/bg-icon-2.jpg">
    <div class="container">
      <h3 class="title-classic-3 wow fadeInRight">Proces zakupu w Wiśniowa House</h3>
      <p class="big text-spacing-75 text-white-06 wow fadeInRight" data-wow-delay=".1s">
        Zakup wymarzonego domu nigdy nie był prostszy – sprawdź 4 proste kroki, które dzielą Cię od życia w Wiśniowa House.
      </p>
      <div class="row row-lg justify-content-center row-30">
        <div class="col-sm-6 col-md-4 col-lg-3 oh-desktop">
          <article class="box-icon-creative wow fadeInUp">
            <div class="box-icon-creative-body">
              <div class="box-icon-creative-icon linearicons-telephone"></div>
              <p class="box-icon-creative-title">1. Kontakt z nami</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 oh-desktop">
          <article class="box-icon-creative wow fadeInDown">
            <div class="box-icon-creative-body">
              <div class="box-icon-creative-icon linearicons-calendar-check"></div>
              <p class="box-icon-creative-title">2. Spotkanie i prezentacja</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 oh-desktop">
          <article class="box-icon-creative wow fadeInUp">
            <div class="box-icon-creative-body">
              <div class="box-icon-creative-icon linearicons-pencil5"></div>
              <p class="box-icon-creative-title">3. Podpisanie umowy</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 oh-desktop">
          <article class="box-icon-creative wow fadeInDown">
            <div class="box-icon-creative-body">
              <div class="box-icon-creative-icon linearicons-home4"></div>
              <p class="box-icon-creative-title">4. Odbiór nieruchomości</p>
            </div>
          </article>
        </div>
      </div>
    </div>
</section>
  
  
{% endblock %}