{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
  <div class="swiper-container swiper-slider swiper-slider-7" data-loop="true" data-autoplay="90009999" data-simulate-touch="false" data-add-slides="1">
    <div class="swiper-wrapper text-sm-start">
      <div class="swiper-slide" data-slide-bg="static/images/modules/breadcrumbs-DD.png">
        <div class="swiper-slide-caption section-md">
          <div class="swiper-box">
            <h6 class="swiper-time" data-caption-animate="fadeInLeft" data-caption-delay="500">
              <span class="d-inline-block" data-caption-animate="slideInDown" data-caption-delay="500">Wiśniowa House <br></span>
            </h6>
            <h3 class="swiper-title oh">          
              <span class="d-block" data-caption-animate="slideInLeft" data-caption-delay="200">Wizualizacje</span>
            </h3>
            <p>Zobacz, jak będzie wyglądać Twoje przyszłe miejsce – przygotowaliśmy realistyczne wizualizacje, które oddają charakter osiedla, układ lokali i detale architektoniczne.</p>
          </div>
          <div class="swiper-content-bg-1"></div>
        </div>
      </div>
      <div class="swiper-slide" data-slide-bg="static/images/modules/breadcrumbs-DC.png"></div>
    </div>
  </div>
  <div class="container">
    <ul class="breadcrumbs-custom-path">
        <li><a href="/"><i class="bi bi-house" style="font-size: 24px;"></i></a></li>
        <li class="active">Wizualizacje</li>
    </ul>
  </div>
</section>

  <!-- Grid Gallery-->
  <section class="section section-lg bg-default isotope-wrap">
    <div class="container">
      <div class="isotope-filters isotope-filters-horizontal">
        <button class="isotope-filters-toggle button button-sm button-icon button-icon-right button-gray-3" data-custom-toggle=".gallery-filters-list" data-custom-toggle-disable-on-blur="true" data-custom-toggle-hide-on-blur="true"><span class="icon mdi mdi-chevron-down"></span>Filter</button>
        <ul class="isotope-filters-list gallery-filters-list">
          <li><a class="active" href="#" data-isotope-filter="*">All</a></li>
          <li><a href="#" data-isotope-filter="Osiedle">Osiedle</a></li>
          <li><a href="#" data-isotope-filter="Budynki">Budynki</a></li>
          <li><a href="#" data-isotope-filter="Przestrzenie">Przestrzenie wspólne</a></li>
          <li><a href="#" data-isotope-filter="Wnętrza">Wnętrza</a></li>
          <li><a href="#" data-isotope-filter="Ogrody">Ogrody</a></li>
          <li><a href="#" data-isotope-filter="Wieczorny klimat">Wieczorny klimat</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid container-inset-0">
      <div class="row row-30 row-desktop-8 gutters-8 isotope hoverdir" data-lightgallery="group">
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Osiedle Budynki">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-C-front-out-small.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-C-front-out-small.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>
        
        

        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Osiedle Budynki">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-CD-front-out.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-CD-front-out.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>
        

        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Ogrody Budynki">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-CD-garden-out.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-CD-garden-out.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>

        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Osiedle Budynki Przestrzenie">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-C-front-out.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-C-front-out.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>
        
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Ogrody">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-CD-garden-out-small.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-CD-garden-out-small.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>

        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Osiedle Budynki">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-blizniak-front-out.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-blizniak-front-out.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>

        
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Osiedle Budynki">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-blizniak-front-left.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-blizniak-front-left.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>


        
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Osiedle Budynki">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-blizniak-front-full.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-blizniak-front-full.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>

        
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Ogrody Budynki">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-BLIZNIAK-garden-out-small.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-BLIZNIAK-garden-out-small.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>


        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Ogrody Budynki">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-BLIZNIAK-garden-out.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-BLIZNIAK-garden-out.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>

        
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Ogrody Budynki">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-AB-garden-out.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-AB-garden-out.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>

        
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Ogrody">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern block-1 hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="static/images/vis/vis-AB-garden-out-small.jpg" data-lightgallery="item">
              <img src="static/images/vis/vis-AB-garden-out-small.jpg" alt="" width="474" height="355"/>
            </a>
            <div class="thumbnail-modern-caption">
                <div class="thumbnail-modern-badge">WIŚNIOWA HOUSE</div>
            </div>
          </article>
        </div>

      </div>
    </div>
  </section>
  
{% endblock %}